.flex-container {
  display: flex;
  background-color: #f2f2f2;
}

.flex-container > div {
  background-color: white;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  width: 200px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.tit {
  color: #E36397;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.2;
}

.lead {
  font-size: 1rem;
  font-weight: 300;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.d-flex {
  text-align: center;
}

#npm {
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 5px;
  background-color: #D8829D;
  border: none;
}

.btn-primary {
  text-decoration: none;
  color: #e9ecef;
  background-color: #8CB2E3;
  border: none;

}

.txt {
  color: #E36397;
  margin-top: 2rem;
  font-weight: bold;
}

.snippet-title {
  font-weight: bold;
  margin-top: 2rem;
  color: #064579;
  font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .tabcontent {
    padding: 30px  30px 30px 30px;
  }
  #preview {
    padding: 30px 30px 0px 30px;
  }
}


.codebkg {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  //border: 1px solid #dddddd;
  padding: 20px;
  //box-shadow: 2.5px 5px #dddddd;
  overflow-x: auto;
}


.palette {
  display: inline-block;
  margin-right: 20px;
}


/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the container */
.box {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


pre  {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.sidenav {
  top: 0;
  padding: 0 15px;
  display: block !important;
  width: 300px;
}

.navbar {
  text-align: center;
  justify-content:center;
   position: relative;
   align-items: center;
   padding: 0.5rem 1rem;
  background-color: #F3F4F7;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1.7rem;
  color: black;
  display: block;
}

.sidenav b {
  color: #E36397;
}

.sidenav a:hover {
  color: #064579;
}

.row1 {
  margin-right: 0px;
  margin-left: 50px;
}


@media screen and (max-width: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (min-width: 800px) {
  .sidenav {
    float: left;
    position: sticky;
  }
  .row1 {
    margin-right: 90px;
    margin-left: 300px;
  }

}

