@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";

$primary: #9C7DA6 ; //#9764E3;
$primary-middle: #DAB1D3; //#D864E3;
$primary-light: #AEA4BC ; // #E36397;

//$success: #2F8348;
//$danger: #b2252e;
//$info: $primary-middle;
$gray-bs: #6c757d;

//$dark: shade-color($primary, 60);

// Create your own map
$custom-colors: (
  "primary-light": $primary-light,
  "primary": $primary,
  "primary-middle": $primary-middle
);
//
//$theme-colors: (
//  "primary": $primary,
//  "secondary": $secondary,
//  "success": $success,
//  "info": $info,
//  "warning": $warning,
//  "danger": $danger,
//  "light": $light,
//  "dark": $dark
//);


$theme-colors: map-merge($theme-colors, $custom-colors);

