@import 'variables';

.tit {
  color: #E36397;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.2;
}

.txt {
  color: $primary;
  font-weight: bold;
}

.snippet-title {
  font-weight: bold;
  margin-top: 2rem;
  color: #064579;
  font-size: 1.5rem;
}

.sqvDemo {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  padding: 20px;
  box-shadow: 2.5px 5px #dddddd;
  overflow-x: auto;
}

.codebkg {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  //border: 1px solid #dddddd;
  padding: 20px;
  //box-shadow: 2.5px 5px #dddddd;
  overflow-x: auto;
}

.sqvDemoGeneral {
  overflow-x: auto;
  overflow-y: auto;
  height: 280px;
  display: flex;
  border: 1px solid #dddddd;
  padding: 20px;
}

.palette {
  display: inline-block;
  margin-right: 20px;
}

.physical {
  color: white;float: left
}


pre  {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.tab-sp {
  margin-left: 30px;

}

.tab-sp-db {
  margin-left: 60px;

}


.hljs-html {
  color: #FFAD0A;
}
.hljs-id {
  color: #8ED025;
}
.hljs-js {
  color: darkorange;
}
.hljs-ang {
  color: purple;
}


/*clustal*/

.circlez {
  display: inline-flex;         /* use this so theat items are on same line */
  justify-content: center;      /* by using above, you can vertical and horizontal align without the need for a stupid line-height hack*/
  align-items: center;
  text-align: center;
  margin-right: 10px;
  height: 30px;
  font-size: 12px;
  color: white;
}


.q {
  width: 120px;
  background-color: #15c015;
}

.a {
  width: 120px;
  background-color: #80a0f0;
}
.k {
  width: 50px;
  background-color: #f01505;
}

.e {
  width: 50px;
  background-color: #c048c0;
}
.c {
  background-color: #f08080;
  width: 30px;
}



/*identity consensus*/

.consensusrect {
  display: inline-flex;         /* use this so theat items are on same line */
  justify-content: center;      /* by using above, you can vertical and horizontal align without the need for a stupid line-height hack*/
  align-items: center;
  text-align: center;
  margin-right: 10px;
  height: 30px;
  font-size: 12px;
  color: white;
  width: 50px;

}

.aa {
  background-color: #000000;
}
.bb {
  background-color: #333333;
}
.cc {
  background-color: #707070;
}
.dd {
  background-color: #A3A3A3;
}


.sidenav {
  top: 100px;
  //padding: 0 15px;
  display: block !important;
  //width: 300px;
}

.navbar {
  text-align: center;
  justify-content:center;
   position: relative;
   align-items: center;
   padding: 0.5rem 1rem;
  background-color: #F3F4F7;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1.7rem;
  color: black;
  display: block;
}

.sidenav b {
  color: $primary;
}

.sidenav a:hover {
  color: #064579;
}


.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-width: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (min-width: 800px) {
  .sidenav {
    float: left;
    position: sticky;
  }
}


.badge-feature {
  display: inline-block;
  position: relative;
  border-radius: 3px 8px;
  color: white;
  font-weight: 700;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
