<nav class="navbar"><div class="mr-3">
  <div><h1 class="tit">ProSeqViewer</h1>
    <h6 class="lead">ProSeqViewer library for the visualization of (not only) biological sequence features. Used in
      <a href="https://mobidb.bio.unipd.it/">MobiDB</a>,
      <a href="https://www.disprot.org/">DisProt</a> and
      <a href="https://repeatsdb.bio.unipd.it/">RepeatsDB</a>.</h6>
    <h6 class="lead">Based on Typescript and compatible with Angular 2+ framework. A JavaScript version of the package is also available (see the <a href="#APIDocumentation">API documentation</a>).</h6>
    <a role="button" class="btn btn-primary" id="npm" href="https://www.npmjs.com/package/proseqviewer">npm package 1.0.74</a>
    <a role="button" class="btn btn-primary" id="git" href="https://github.com/BioComputingUP/ProSeqViewer">github 1.0.74</a>
  </div>
</div>
</nav>


<div class="sidenav">
  <a  id="reg" href="#singleseq" target="_self"><h6><b>Single sequence</b></h6></a>
  <a href="#indexesLocation" target="_self"><h6>Indexes location</h6></a>
  <a href="#wrapLine" target="_self"><h6>Wrap line</h6></a>
  <a href="#icons" target="_self"><h6>Icons</h6></a>
  <a href="#regions" target="_self"><h6> Regions</h6></a>
  <a href="#patterns" target="_self"><h6>Patterns</h6></a>

  <a href="#simple" target="_self"><h6><b>Multiple sequence alignment (MSA)</b></h6></a>
  <a href="#multi" target="_self"> <h6>Multiple sequence sequence alignment</h6></a>
  <a href="#sequenceColor" target="_self"><h6>Sequence color</h6></a>
  <a href="#sequenceColorMatrix" target="_self"><h6>Sequence color matrix</h6></a>
  <a href="#consensus" target="_self"><h6>Consensus</h6></a>

  <a id="api" href="#documentation" target="_self"><h6><b>Documentation</b></h6></a>
  <a href="#installation" target="_self"><h6>Installation guide</h6></a>
  <a href="#input" target="_self"><h6>Input</h6></a>
  <a href="#events" target="_self"><h6>Events</h6></a>
</div>
<!------------------------------------- DEMO ---------------------------------------->

<div class="row1">

      <h2 id="singleseq" class="txt">Single sequence</h2>

    <!-------------------------------------  indexesLocation  ---------------------------------------->

    <h6 id="indexesLocation" class="snippet-title">Indexes Location<a><svg class="bi section-link" fill="currentColor" height="1em" width="1em"><use xlink:href="assets/bootstrap-icons.svg#link"></use></svg></a></h6>
    <p>Choose indexes location. Sequence indexing is either placed at the beginning of each line or right aligned on top of each block of amino acids. On the lateral index option is also possible to set a value for the startIndex (set to 50 in this example).</p>

    <p style="color:#000;"><b>Lateral indexes</b></p>
    <div id="sqv5" class="sqvDemo"></div>
    <pre class="codebkg">{{latindexoptions | json}}</pre>

    <p style="color:#000;"><b>Indexes on top</b></p>
    <div class="sqvDemo"><div id="sqv10"></div></div>
    <pre class="codebkg">{{topindexoptions | json}}</pre>



    <!-------------------------------------  wrapline  EXAMPLE ---------------------------------------->

    <h6 id="wrapLine" class="snippet-title">Wrap Line<a><svg class="bi section-link" fill="currentColor" height="1em" width="1em"><use xlink:href="assets/bootstrap-icons.svg#link"></use></svg></a></h6>
    <p>Each letter is encapsulated in a column element (just one cell for single sequences) which is part of a block of columns. Blocks are graphically separated to improve readability and can have different length (setting chunkSize option). By default, blocks are automatically moved to a new line when they exceed the container width (responsive behavior). However, block wrapping can be disabled if the user wants to slide MSAs horizontally (non-responsive behavior).
    </p>

    <p style="color:#000;"><b>Responsive (default)</b></p>

    <div class="sqvDemo">
        <div class="row">
            <div id="sqv13"></div>
        </div>
    </div>

    <p style="color:#000;"><b>Non-responsive</b></p>
    <div class="sqvDemo">
        <div class="row">
            <div id="sqv8"></div>
        </div>
    </div>

    <tabset>
            <ul class="code">
                <li><span class="tab-sp"><span class="hljs-js">const</span> options =  &#123;</span></li>
                <li><span class="tab-sp-db">      chunkSize: 20, wrapLine: true, viewerWidth: '350px'</span></li>
                <li><span class="tab-sp">      };</span></li>
            </ul>
    </tabset>



    <!---------------------------------------------- Icons -------------------------------------------------->
    <h6 class="snippet-title" id="icons">Icons</h6>
    <div>Add icons on the top of the sequences to indicate the secondary structure.You can use the icons already
        available (helix, turn, lollipop, strand, arrowLeft, arrowRight, noSecondary) or you can input custom svg icons (check the Documentation.) </div>
    <div>This example shows the secondary structure of the ASL protein mapped onto the <b>secondary structure</b>  of the human ASL protein (P04424, <i>Homo sapiens</i>) sequence.
        <b>Helices</b> are shown in pink and <b>beta strands</b> are shown as yellow arrows. </div>

    <div class="sqvDemo" id="sqvSingle"></div>

    <tabset>
            <ul class="code">
                <li><span class="tab-sp"><span class="hljs-js">const</span> icons =  &#123;</span></li>
                <li><span class="tab-sp-db">      &#123;sequenceId: 1, start: 1, end: 12, icon: 'noSecondary'},</span></li>
                <li><span class="tab-sp-db">      &#123;sequenceId: 1, start: 13, end: 18, icon: 'noSecondary'},</span></li>
                <li><span class="tab-sp-db">      &#123;sequenceId: 1, start: 19, end: 25, icon: 'helix'},</span></li>
                <li><span class="tab-sp-db">      &#123;sequenceId: 1, start: 26, end: 27, icon: 'noSecondary'},</span></li>
                <li><span class="tab-sp-db">      &#123;sequenceId: 1, start: 28, end: 30, icon: 'helix'},</span></li>
                <li><span class="tab-sp-db">      ... </span></li>
                <li><span class="tab-sp-db">      };</span></li>
                <li><span class="tab-sp"><span class="hljs-js">const</span> options = &#123;chunkSize: 0}; </span></li>
            </ul>
    </tabset>


    <!--------------------------------------------  REGIONS  EXAMPLE ---------------------------------------->

    <h6 id="regions" class="snippet-title">Regions<a fragment="simple-slider"><svg class="bi section-link" fill="currentColor" height="1em" width="1em"><use xlink:href="assets/bootstrap-icons.svg#link"></use></svg></a></h6>
    <div>Highlight part of the sequences with customizable colors.</div>
    <p>Tandem repeat regions are shown on the PDB sequence of 6ub9A - Tryptophan synthase alpha chain (<i>Mycobacterium tuberculosis</i>), in alternating blue and red. Insertions are in yellow.</p>
    <div class="sqvDemo"  id="sqv2"></div>


    <tabset>
            <ul class="code">
                <li><span class="tab-sp"><span class="hljs-js">const</span> regions = [ </span></li>
                <li><span class="tab-sp-db">      &#123;sequenceId: 1, start: 25, end: 53, backgroundColor: '#2f6690', color: '#FFFFFF'},</span></li>
                <li><span class="tab-sp-db">      &#123;sequenceId: 1, start: 54, end: 63, backgroundColor: '#FF6978', color: '#FFFFFF'},</span></li>
                <li><span class="tab-sp-db">      &#123;sequenceId: 1, start: 64, end: 84, backgroundColor: '#FAC05E', color: '#FFFFFF'},</span></li>
                <li><span class="tab-sp-db">      &#123;sequenceId: 1, start: 85, end: 100, backgroundColor: '#FF6978', color: '#FFFFFF'},</span></li>
                <li><span class="tab-sp-db">      &#123;sequenceId: 1, start: 101, end: 127, backgroundColor: '#2f6690', color: '#FFFFFF'},</span></li>
                <li><span class="tab-sp-db">      ... ,</span></li>
                <li><span class="tab-sp">      ];</span></li>
            </ul>
    </tabset>



    <!-------------------------------------  PATTERNS  EXAMPLE ---------------------------------------->

    <h6 id="patterns" class="snippet-title">Patterns<a fragment="simple-slider"><svg class="bi section-link" fill="currentColor" height="1em" width="1em"><use xlink:href="assets/bootstrap-icons.svg#link"></use></svg></a></h6>
    <p>Match the sequences against a regular expression to show possible patterns. </p>
    <div class="sqvDemo" id="sqv4"></div>

    <tabset>
            <ul class="code">
                <li><span class="tab-sp"><span class="hljs-js">const</span> patterns = [ </span></li>
                <li><span class="tab-sp-db">      &#123;sequenceId: 1, pattern: /AA/g, backgroundColor: '#D72638'},</span></li>
                <li><span class="tab-sp-db">      &#123;sequenceId: 1, pattern: /PD/g, backgroundColor: '#FF570A'},</span></li>
                <li><span class="tab-sp-db">      &#123;sequenceId: 1, pattern: /GV/g, backgroundColor: '#FFBC42'}</span></li>
                <li><span class="tab-sp">      ];</span></li>
            </ul>
    </tabset>



    <!--------------------------------------------  MSA  section ---------------------------------------->
      <h2 id="simple" class="txt"> Multiple sequence alignments (MSA)</h2>


    <!---------------------------------------------- Multiple sequence alignment ------------------------------------------>
    <h6 class="snippet-title" id="multi">Multiple sequence alignment</h6>
    <p>Multiple sequence alignment of Aspartate ammonia-lyase protein (Uniprot P0AC38) with ten homologs. Residue numbering displayed on top of the sequences.</p>
    <div class="sqvDemo" id="sqv0"></div>

    <tabset>
            <ul class="code">
                <li><span><span class="hljs-js">const</span> sequences = [ </span></li>
                <li><span class="tab-sp"><span>      &#123;sequence: 'GTREVPADAYYGVHTLRAIENFYISNNKISDIPEFVRGMVMVKKAAAMANKELQTIPKSV' +</span></span></li>
                <li><span class="tab-sp"><span> 'ANAIIAACDEVLNNGKCMDQFPVDVYQGGAGTSVNMNTNEVLANIGLELMGHQKGEYQYLNPNDHVNKCQSTNDAYPTGFRIAV',</span></span></li>
                <li><span class="tab-sp"><span>   id: 1, label: 'ASPA_ECOLI/13-157'},</span></span></li>
                <li><span class="tab-sp"><span>      &#123;sequence: 'GEKQIEADVYYGIQTLRASENFPITGYKIHEE..MINALAIVKKAAALANMDVKRLYEGIGQAIVQAADEILE.GKWHDQFIVDPIQGGA' +</span></span></li>
                <li><span class="tab-sp"><span>  'GTSMNMNANEVIGNRALEIMGHKKGDYIHLSPNTHVNMSQSTNDVFPTAIHIST',</span></span></li>
                <li><span class="tab-sp"><span>  id: 2, label: 'ASPA_BACSU/16-157'},</span></span></li>
                <li><span class="tab-sp-db">      ... ,</span></li>
                <li><span class="tab-sp"><span>      ];</span></span></li>
                <li><span><span class="hljs-js">const</span> options =  &#123;</span></li>
                <li><span class="tab-sp"><span>       indexesLocation: 'top'</span></span></li>
                <li><span>      };</span></li>
            </ul>
    </tabset>



      <!-------------------------------------  sequenceColor clustal  EXAMPLE ---------------------------------------->

      <h6 id="sequenceColor" class="snippet-title">Sequence Color<a><svg class="bi section-link" fill="currentColor" height="1em" width="1em"><use xlink:href="assets/bootstrap-icons.svg#link"></use></svg></a></h6>
      <div>Set a global sequence color. Some of the global sequence colors available are: clustal, zappo, taylor, hydrophobicity etc. Check all sequence colors <a href="https://www.jalview.org/help/html/colourSchemes/index.html">here</a>.</div>
      <p> It is also possible to set a custom sequence color, check the Documentation (Input -option, sequenceColor-) for details.</p>
    <p style="color:#000;"><b>Clustal example</b></p>

        <div class="circlez q">N, Q, S, P, T, H, Y</div>
        <div class="circlez a">A, I, L, M, F, W, V </div>
        <div class="circlez k">K, R</div><div class="circlez e">E, D</div>
        <div class="circlez c">C</div>

      <div class="sqvDemo" id="sqv6"></div>


      <tabset>
             <ul class="code">
               <li><span class="tab-sp"><span class="hljs-js">const</span> options =  &#123;</span></li>
               <li><span class="tab-sp-db">      sequenceColor: 'clustal'</span></li>
               <li><span class="tab-sp">      };</span></li>
            </ul>
      </tabset>


      <!-------------------------------------  sequenceColorMatrix blosum  EXAMPLE ---------------------------------------->
    <h6 id="sequenceColorMatrix" class="snippet-title">Sequence Color Matrix<a><svg class="bi section-link" fill="currentColor" height="1em" width="1em"><use xlink:href="assets/bootstrap-icons.svg#link"></use></svg></a></h6>
    <div>Set a global sequence color matrix. Available global sequence color matrix is blosum62.
        Here amino acid pairs are compared, in particular each residue is compared with the residue at the same position in the first sequence. The aminoacid pair is colored based on a input matrix.</div>
    <p> Blosum62 is a default matrix, but it is also possible to set a custom matrix.</p>

      <p style="color:#000;margin-top: 20px"><b>Blosum62 (default matrix)</b></p>

      <img src="assets/heatmap.svg">

      <div class="sqvDemo" id="sqvBlosum"></div>


      <tabset>
           <ul class="code">
             <li><span class="tab-sp"><span class="hljs-js">const</span> options =  &#123;</span></li>
             <li><span class="tab-sp-db">      sequenceColorMatrix: 'blosum62'</span></li>
             <li><span class="tab-sp">      };</span></li>
          </ul>
      </tabset>

    <p style="color:#000;margin-top: 20px"><b>Custom sequence color matrix</b></p>


    <!-------------------------------------  CONSENSUS  EXAMPLE ---------------------------------------->

      <h6 id="consensus" class="snippet-title">Consensus<a><svg class="bi section-link" fill="currentColor" height="1em" width="1em"><use xlink:href="assets/bootstrap-icons.svg#link"></use></svg></a></h6>
      <div>A consensus sequence will be the generated on top of the alignment, representing the most frequent aminoacid (consensus identity) or property (consensus physical) found at each position in a sequence alignment.</div>
      <div>As a default, the consensusDotThreshold is set at 90%, meaning that position with a frequency less of 90% will display a dot.</div>
      <div>In the consensus identity the aminoacid found at each position is colored based on its frequency in the alignment. Each level has a color: (100%, 80%, 70%..)</div>
      <div>In the consensus physical the aminoacid found at each position is colored based on the aminoacid property frequency in the alignment. The property symbol is displayed.</div>
      <div>Consensus 'identity' and 'physical' can't be set at the same time. In case of overlapping settings, consensus 'identity' will be displayed.</div>
        <p> It is also possible to set a custom consensus with personalized colors, levels and symbols and modify the consensusDotThreshold, check the Documentation for details.</p>

      <!--  identity -->
      <div class="palette">
        <p style="color:#000;"><b>Identity consensus</b></p>

        <div class="consensusrect aa">&nbsp;100%</div>
        <div class="consensusrect bb">&nbsp;70%</div>
        <div class="consensusrect cc">&nbsp;40%</div>
        <div class="consensusrect dd">&nbsp;10%</div>
      </div>

      <div class="sqvDemo"><div id="sqv7"></div></div>


      <tabset>
              <ul class="code">
                <li><span class="tab-sp"><span class="hljs-js">const</span> options =  &#123;</span></li>
                <li><span class="tab-sp-db">      consensusColorIdentity: 'identity', consensusDotThreshold: 80</span></li>
                <li><span class="tab-sp">      };</span></li>
          </ul>
      </tabset>


      <!--  physical-->
      <p style="color: #000; margin-top: 20px;"><b>Consensus based on physico-chemical properties</b></p>
      <div class="consensusphy aa">&nbsp;100% </div>
    <div class="consensusphy h">h </div> small hydrophobic - C,V,I,L,P,F,Y,M,W

       <div class="consensusphy n">n</div> small nonpolar - A,G,S,T
        <div class="consensusphy p">p</div> non polar - N,Q,H

        <div class="consensusphy neg">~</div> negatively charged - D,E

        <div class="consensusphy pos">+</div> positively charged - K,R


      <div class="sqvDemo" id="sqvPhysical"></div>

      <tabset>
             <ul class="code">
               <li><span class="tab-sp"><span class="hljs-js">const</span> options =  &#123;</span></li>
               <li><span class="tab-sp-db">      consensusColorMapping: 'physical'</span></li>
               <li><span class="tab-sp">      };</span></li>
          </ul>
      </tabset>




    <!----------------------------------- DOCUMENTATION -------------------------------------->

    <div id="documentation" class="tabcontent">
      <h2 class="txt">Documentation</h2>
        <p>ProSeqViewer is a TypeScript library implemented to be compatible with modern applications (both Angular and pure JavaScript supported). It is lightweight, fast, interactive, dynamic, responsive and it adapts to any screen size. It generates pure HTML which is compatible with any browser and operating system. The source code is available on <a href="https://github.com/BioComputingUP/ProSeqViewer">Github</a>.</p>
        <div class="snippet-card" id="installation">
        <div>
          <h6 class="snippet-title" id="javascript">JavaScript installation</h6>

            <p><strong>1. Download the library code</strong></p>
            <p>You can find the <i>sqv-bundle.js</i> file in the dist folder on the <a href="https://github.com/BioComputingUP/ProSeqViewer">Github repo.</a></p>
            <p><strong>2. Download the CSS stylesheet</strong></p>
            <p>You can find the <i>sqv.css</i> file in the src/assets folder on the <a href="https://github.com/BioComputingUP/ProSeqViewer">Github repo.</a></p>
            <p><strong>3. Edit your index.html:</strong></p>

            <!-- Tab content -->
            <ul class="code-no-height">
            <li><span class="hljs-js">&lt;head></span></li>
            <li><span class="hljs-js tab-sp">&lt;link</span> rel=<span class="hljs-id">"stylesheet"</span> type=<span class="hljs-id">"text/css"</span> href=<span class="hljs-id">"sqv.css"</span><span class="hljs-js">></span></li>
            <li><span class="hljs-js">&lt;/head></span></li>
            <li><span class="hljs-js">&lt;body></span></li>
            <li><span class="hljs-html">&lt;div</span> id <span class="hljs-id">="sqvSimple"</span><span class="hljs-html">&gt;&lt;/div&gt;</span></li>
            <li><span class="hljs-js">&lt;script</span> src=<span class="hljs-id">"sqv-bundle.js"</span><span class="hljs-js">>&lt;/script&gt;</span></li>
            <li><span class="hljs-js">&lt;script></span></li>
            <li><span class="tab-sp"><span class="hljs-js">const</span> proseqviewer = <span class="hljs-js">new </span>ProSeqViewer(<span class="hljs-id">'sqvSimple'</span>);</span></li>
            <li><span class="tab-sp"><span class="hljs-js">const</span> sequence = [ </span></li>
            <li><span class="tab-sp-db">      &#123;sequence: 'MVLSPADKTNVKAAWGKVGAHAG--ALERMFL--YFPHFDLSHGSAQVKGHG', id: 1, label: 'sp|P69905|HBA_HUMAN'}</span></li>
            <li><span class="tab-sp">      ];</span></li>
            <li><span class="tab-sp">proseqviewer.<span class="hljs-js">draw</span>(&#123; sequence});</span></li>
            <li><span class="hljs-js">&lt;/script></span></li>
            <li><span class="hljs-js">&lt;/body></span></li>
          </ul>


          <h6 class="snippet-title">Angular installation</h6>

          <p>The proseqviewer package is written in pure typescript and does not have any dependencies. This guide focus on how to install the package in an Angular app.</p>
          <p><strong>1. Install the library using npm</strong></p>
          <pre><code>npm i proseqviewer</code></pre>

          <p><strong>2. Edit the "styles" field in your angular.json </strong></p>
          <pre><code><span class="hljs-ang">styles:</span> ["./node_modules/proseqviewer/dist/assets/sqv.css"]</code></pre>

          <p><strong>3. Edit your angular component: </strong></p>
          <ul class="code-no-height">
              <li><span class="hljs-js">import</span> &#123; ProSeqViewer &#125; <span class="hljs-keyword">from</span> <span class="hljs-id">'proseqviewer/dist'</span>;</li>
              <li><span class="hljs-js">const</span> proseqviewer = <span class="hljs-js">new </span> ProSeqViewer(<span class="hljs-id">'sqv'</span>);</li>
            <li><span class="hljs-js">const</span> sequence = [&#123;sequence: 'DFRLE--F-DFRLEDFRLE----&#125;]</li>
            <li>proseqviewer.<span class="hljs-js">draw</span>(&#123; sequence});</li>
          </ul>

            <p><strong> 4. Edit your template: </strong></p>
            <ul class="code-no-height"><li><span class="hljs-html">&lt;div</span> id <span class="hljs-id">="sqv"</span><span class="hljs-html">&gt;&lt;/div&gt;</span></li></ul>


            <h6 class="snippet-title" id="input">Input</h6>
            <p>The proseqviewer provides a method <i>draw()</i> that take a JSON object in input.</p>
            <p>The object has 5 keys (keys order is indifferent).</p>

            <ul class="code-no-height">
                <li><span class="hljs-js"> &#123;sequences: Array&lt;Sequences&gt;,</span>;</li>
                <li><span class="hljs-js">regions?: Array&lt;Regions&gt;,</span></li>
                <li><span class="hljs-js">patterns?: Array&lt;Patterns&gt;,</span></li>
                <li><span class="hljs-js">options?: Options&#125;</span></li>
            </ul>

            <p>Each key value is itself a JSON object. E.g.: &#123;sequence: .., id: ..}. Below a detailed description of each value.</p>

            <div class="container">
                <div class="row first">
              <div class="col-sm">Field 0</div>
              <div class="col-sm">Field 1</div>
              <div class="col-sm">Type</div>
              <div class="col-sm">Example</div>
              <div class="col-sm">Description</div>
            </div>
                <div class="row field0">
              <div class="col-sm">sequences</div>
              <div class="col-sm"></div>
              <div class="col-sm"></div>
              <div class="col-sm"></div>
              <div class="col-sm"></div>
            </div>
                <div class="row field1">
            <div class="col-sm"></div>
             <div class="col-sm">sequence</div>
             <div class="col-sm">string</div>
             <div class="col-sm">LYRLELERECAMT</div>
             <div class="col-sm">Sequence of characters</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">id</div>
             <div class="col-sm">integer</div>
             <div class="col-sm">1</div>
             <div class="col-sm">Identifier of the sequence</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">label</div>
             <div class="col-sm">string</div>
             <div class="col-sm">1xvz_1_30.pdb</div>
             <div class="col-sm">Lateral label</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">labelTooltip</div>
             <div class="col-sm">string</div>
             <div class="col-sm">&lt;span class="tooltipText" style="background-color: blue;"&gt;Tooltip text&lt;/span&gt;</div>
             <div class="col-sm">Stylable tooltip</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">startIndex</div>
             <div class="col-sm">integer</div>
             <div class="col-sm">30</div>
             <div class="col-sm">Start index of the input sequence.</div>
           </div>
                <div class="row field0">
              <div class="col-sm">regions</div>
              <div class="col-sm"></div>
              <div class="col-sm"></div>
              <div class="col-sm"></div>
              <div class="col-sm"></div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">sequenceId</div>
             <div class="col-sm">integer</div>
             <div class="col-sm">1</div>
             <div class="col-sm">Identifier of the sequence.</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">start</div>
             <div class="col-sm">integer</div>
             <div class="col-sm">10</div>
             <div class="col-sm">Start position of the region to color.</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">end</div>
             <div class="col-sm">integer</div>
             <div class="col-sm">20</div>
             <div class="col-sm">End position of the region to color.</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">backgroundColor</div>
             <div class="col-sm">string</div>
             <div class="col-sm">hex, rgb</div>
             <div class="col-sm">Color the character background.</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">color</div>
             <div class="col-sm">string</div>
             <div class="col-sm">hex, rgb</div>
             <div class="col-sm">Color the character.</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">backgroundImage</div>
             <div class="col-sm">integer</div>
             <div class="col-sm">linear-gradient(red, yellow)</div>
             <div class="col-sm">Color the character background with a two color gradient.</div>
           </div>
                <div class="row field0">
              <div class="col-sm">patterns</div>
              <div class="col-sm"></div>
              <div class="col-sm"></div>
              <div class="col-sm"></div>
              <div class="col-sm"></div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">sequenceId</div>
             <div class="col-sm">integer</div>
             <div class="col-sm">1</div>
             <div class="col-sm">Identifier of the sequence.</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">start</div>
             <div class="col-sm">integer</div>
             <div class="col-sm">10</div>
             <div class="col-sm">Start position of the region where to perform the regex.</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">end</div>
             <div class="col-sm">integer</div>
             <div class="col-sm">20</div>
             <div class="col-sm">End position of the region where to perform the regex.</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">backgroundColor</div>
             <div class="col-sm">string</div>
             <div class="col-sm">hex, rgb</div>
             <div class="col-sm">Color the regex match background.</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">color</div>
             <div class="col-sm">string</div>
             <div class="col-sm">hex, rgb</div>
             <div class="col-sm">Color the regex match the character.</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">backgroundImage</div>
             <div class="col-sm">integer</div>
             <div class="col-sm">linear-gradient(red, yellow)</div>
             <div class="col-sm">Color the regex match character background with a two color gradient.</div>
           </div>
                <div class="row field0">
              <div class="col-sm">icons</div>
              <div class="col-sm"></div>
              <div class="col-sm"></div>
              <div class="col-sm"></div>
              <div class="col-sm"></div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">sequenceId</div>
             <div class="col-sm">integer</div>
             <div class="col-sm">1</div>
             <div class="col-sm">Identifier of the sequence.</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">start</div>
             <div class="col-sm">integer</div>
             <div class="col-sm">10</div>
             <div class="col-sm">Start position of the icon region.</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">end</div>
             <div class="col-sm">integer</div>
             <div class="col-sm">20</div>
             <div class="col-sm">End position of the icon region.</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">icon</div>
             <div class="col-sm">string</div>
             <div class="col-sm">lollipop, helix, strand, strand-arrow-left, turn</div>
             <div class="col-sm">Default svg image to apply on top of the indicated sequence.</div>
           </div>
                <div class="row field1">
                <div class="col-sm"></div>
                <div class="col-sm">icon</div>
                <div class="col-sm">string</div>
                <div class="col-sm">&lt;svg&gt;&lt;/svg&gt;</div>
                <div class="col-sm">Custom svg image to apply on top of the indicated sequence.</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">display</div>
             <div class="col-sm">string</div>
             <div class="col-sm">center</div>
             <div class="col-sm">Center the icon in the middle of the start-end region.</div>
           </div>
                <div class="row field0">
              <div class="col-sm">options</div>
              <div class="col-sm"></div>
              <div class="col-sm"></div>
              <div class="col-sm"></div>
              <div class="col-sm"></div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">fontSize</div>
             <div class="col-sm">string</div>
             <div class="col-sm">14px</div>
             <div class="col-sm">Font dimension.</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">chunkSize</div>
             <div class="col-sm">integer</div>
             <div class="col-sm">10</div>
             <div class="col-sm">Group the sequence into chunks of subsequential characters.</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">chunkSeparation</div>
             <div class="col-sm">integer</div>
             <div class="col-sm">2</div>
             <div class="col-sm">Space among chunks.</div>
           </div>
                <div class="row field1">
                    <div class="col-sm"></div>
                    <div class="col-sm">lineSeparation</div>
                    <div class="col-sm">integer</div>
                    <div class="col-sm">15</div>
                    <div class="col-sm">Space under the horizontal row of characters (px).</div>
                </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">indexesLocation</div>
             <div class="col-sm">string</div>
             <div class="col-sm">lateral</div>
             <div class="col-sm">Set an index on the left side of each sequence.</div>
           </div>
                <div class="row field1">
                    <div class="col-sm"></div>
                    <div class="col-sm"></div>
                    <div class="col-sm">string</div>
                    <div class="col-sm">top</div>
                    <div class="col-sm">Place an index on top of the end of each chunk (first row only).</div>
                </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">wrapLine</div>
             <div class="col-sm">boolean</div>
             <div class="col-sm">true</div>
             <div class="col-sm">Display the viewer with fixed width (not responsive) and scrollbar on the sequences.</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">viewerWidth</div>
             <div class="col-sm">integer</div>
             <div class="col-sm">2</div>
             <div class="col-sm">Width of ProSeqViewer - sidebar.</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">sequenceColor</div>
             <div class="col-sm">string</div>
             <div class="col-sm">clustal, zappo, taylor ...</div>
             <div class="col-sm">Colorscheme to apply to all sequences. Any Jalview colorscheme is available, see the complete list on Multiple sequence alignment (MSA) - Sequence color).</div>
           </div>
                <div class="row field1">
                    <div class="col-sm"></div>
                    <div class="col-sm"></div>
                    <div class="col-sm">obj</div>
                    <div class="col-sm">&#123; &lt;aminoacid&gt;:&lt;background_color&gt;, .. } </div>
                    <div class="col-sm">Custom colorscheme to apply to all sequences.</div>
            </div>
                <div class="row field1">
              <div class="col-sm"></div>
              <div class="col-sm">sequenceColorMatrix</div>
              <div class="col-sm">string</div>
              <div class="col-sm">blosum62</div>
              <div class="col-sm">Add blosum62 matrix colorscheme.</div>
            </div>
                <div class="row field1">
                    <div class="col-sm"></div>
                    <div class="col-sm"></div>
                    <div class="col-sm">obj</div>
                    <div class="col-sm"> &#123;&lt;aminoacid_pair&gt;:[&lt;background_color&gt;,&lt;color&gt;], .. } </div>
                    <div class="col-sm">Add custom matrix colorscheme.</div>
                </div>
                <div class="row field1">
                    <div class="col-sm"></div>
                    <div class="col-sm">consensusDotThreshold</div>
                    <div class="col-sm">integer</div>
                    <div class="col-sm">90</div>
                    <div class="col-sm">Threeshold for consensus information.</div>
                </div>
                <div class="row field1">
                    <div class="col-sm"></div>
                    <div class="col-sm">consensusColorIdentity</div>
                    <div class="col-sm">string</div>
                    <div class="col-sm">identity</div>
                    <div class="col-sm">Add a line with consensus identity information.</div>
                </div>
                <div class="row field1">
                    <div class="col-sm"></div>
                    <div class="col-sm">consensusColorIdentity</div>
                    <div class="col-sm">obj</div>
                    <div class="col-sm">&#123;&lt;level&gt;:[&lt;background_color&gt;,&lt;color&gt;], .. }</div>
                    <div class="col-sm">Add a line with custom consensus identity information.</div>
                </div>
                <div class="row field1">
                    <div class="col-sm"></div>
                    <div class="col-sm">consensusColorMapping</div>
                    <div class="col-sm">string</div>
                    <div class="col-sm">physical</div>
                    <div class="col-sm">Add a line with consensus physical information.</div>
                </div>
                <div class="row field1">
                    <div class="col-sm"></div>
                    <div class="col-sm">consensusColorMapping</div>
                    <div class="col-sm">obj</div>
                    <div class="col-sm">&#123;&lt;aminoacid&gt;:[&lt;symbol&gt;,&lt;background_color&gt;,&lt;color&gt;], .. }&#123;</div>
                    <div class="col-sm">Add a line with custom consensus physical information.</div>
                </div>
        </div>
      </div>
    </div>
    </div>
    <!-------------------------------------  EVENTS  EXAMPLE ---------------------------------------->
    <h6 id="events" class="snippet-title">Events<a><svg class="bi section-link" fill="currentColor" height="1em" width="1em"><use xlink:href="assets/bootstrap-icons.svg#link"></use></svg></a></h6>
    <p>Three different types of events are available: area selection and column selection (active after the user's Ctrl+C action) and the double click event (active after user's double click).</p>

    <p><b>Area selection</b></p>
    <p>Click and drag the mouse to select a region, the region will be highlighted in yellow. Use the
        shortcut Ctrl+C to copy and Ctrl+V to paste. The selected region will disappear after using a
        shortcut or clicking on another area.</p>


    <pre class="prettyprint prettyprinted"><code>
    <span> window.<span class="hljs-js">addEventListener</span>('onAreaSelected', (e) =>   &#123;
             console.<span class="hljs-js">log</span>('event type', e['detail'].type);
             console.<span class="hljs-js">log</span>('text area', e['detail'].text);
           });
    </span>
  </code></pre>

    <p><b>Columns selection</b></p>

    <p><b>Double click</b></p>
    <p>The double click event will return information about the clicked character, like the x, y positions and the character itself.</p>
    <pre class="prettyprint prettyprinted"><code>
    <span> window.<span class="hljs-js">addEventListener</span>('onRegionSelected', (e) =>   &#123;
             console.<span class="hljs-js">log</span>('character selected', e['detail'].char);
             console.<span class="hljs-js">log</span>('position x', e['detail'].x);
             console.<span class="hljs-js">log</span>('position y', e['detail'].y);
           });
    </span>
  </code></pre>

    <p><b>Try it out!</b></p>
    <div class="sqvDemo">
        <div class="row">
            <div id="sqv9"></div>
        </div>
    </div>
    <div class="box">
        <form>
            <div class="row">
                <div class="col-25">
                    <label for="subject">Paste area or columns selection</label>
                </div>
                <div class="col-75">
                    <textarea id="subject" name="subject" placeholder="Copy-paste something.." style="height:200px"></textarea>
                </div>
            </div>

        </form>
    </div>
    <div class="box">
        <form>
            <div class="row">
                <div class="col-25">
                    <label for="subject">See double click event</label>
                </div>
                <div class="col-75">
                    <div>Selected char: {{selectedChar}}</div>
                    <div>Position X: {{positionX}}</div>
                    <div>Position Y: {{positionY}}</div>
                </div>
            </div>

        </form>
    </div>

</div>
