<div class="jumbotron jumbotron-fluid pb-3 mb-0">
  <div class="container"><div class="d-flex flex-row"><div class="mr-3">
    <div><h1 class="display-4">Sequence Viewer Typescript</h1>
      <p class="lead">This is the full documentation of the Sequence Viewer Typescript library for the visualization of (not only) biological sequence features: <a _ngcontent-c1="" href="https://github.com/BioComputingUP/sequence-viewer-typescript">sequence-viewer-typescript</a> (Github). Used in
        <a href="https://mobidb.bio.unipd.it/">MobiDB</a>,
        <a href="https://www.disprot.org/">DisProt</a> and
        <a href="https://repeatsdb.bio.unipd.it/">RepeatsDB</a>.</p>
      <p class="lead">This package is based on Typescript and compatible with Angular 2+ framework. A Javascript version of the package is also available (see the API documentation for more info).</p>
      <a href="https://www.npmjs.com/package/sequence-viewer-typescript"><span id="npm">npm package </span><span id="version">1.0.26</span></a></div></div></div></div></div>
<button class="tablink" (click)="openPage('Demos')" id="defaultOpen" >Demos</button>
<button class="tablink" (click)="openPage('API')" >API  Documentation</button>

<div id="preview">
  <h3>Multisequence alignment</h3>
  <div class="sqvDemoGeneral">
    <div class="row">
      <div id="sqv0"></div>
    </div>
  </div>
  <h3>Single sequence</h3>
  <div class="sqvDemoGeneral">
    <div class="row">
      <div id="sqvSingle"></div>
    </div>
  </div>
</div>


<!------------------------------------- DEMO ---------------------------------------->

<div id="Demos" class="tabcontent">
  <!------------------------------------- Simple example ---------------------------------------->


  <div>
    <ul>
      <li id="tutorial"><h2 class="txt">Tutorial</h2>
        <p>The following are example demo, for a complete list of the available features please check the API Documentation.</p>
      <li>
      <li><a href="#simple" target="_self">Simple example</a></li>
      <li><a href="#regions" target="_self">Regions example</a></li>
      <li><a href="#icons" target="_self">Icons example</a></li>
      <li><a href="#patterns" target="_self">Patterns example</a></li>
      <li><a href="#colorscheme" target="_self">Colorscheme example</a></li>
      <li><a href="#lateralindexes" target="_self">Lateral indexes example</a></li>
      <li><a href="#consensus" target="_self">Consensus example</a></li>
      <li><a href="#oneLineSetting" target="_self">One line setting example</a></li>
      <li><a href="#selection" target="_self">Selection example</a></li>
    </ul>
  </div>


  <h2 id="simple" class="snippet-title">Simple example<a><svg class="bi section-link" fill="currentColor" height="1em" width="1em"><use xlink:href="assets/bootstrap-icons.svg#link"></use></svg></a></h2>
  <p>Set the sequences and their colorScheme.</p>


    <div class="sqvDemo"><div id="sqv1"></div></div>

    <div class="tab">
      <button>index.html</button>
    </div>

    <!-- Tab content -->
    <div>
      <pre class="prettyprint prettyprinted"><code class="language-java">
        <span class="hljs-js">&lt;head></span>
          <span class="hljs-js">&lt;link</span> rel=<span class="hljs-id">"stylesheet"</span> type=<span class="hljs-id">"text/css"</span> href=<span class="hljs-id">"sqv.css"</span><span class="hljs-js">>&lt;/div&gt;</span>
        <span class="hljs-js">&lt;/head></span>
        <span class="hljs-html">&lt;div</span> id <span class="hljs-id">="sqvSimple"</span><span class="hljs-html">&gt;&lt;/div&gt;</span>
        <span class="hljs-js">&lt;script</span> src=<span class="hljs-id">"sqv-bundle.js"</span><span class="hljs-js">&lt;/div&gt;</span>
        <span class="hljs-js">&lt;script></span>
          <span><span class="hljs-js">const</span> sequences = [ </span>
          <span><span class="hljs-js">const</span> sequenceviewer = new SequenceViewer('sqvSimple'); </span>
          <span>      &#123;sequence: 'MVLSPADKTNVKAAWGKVGAHAGEYGAEALERMFLSFPTTKTYFPHFDLSHGSAQVKGHG', id: 1, label: 'sp|P69905|HBA_HUMAN'},</span>
          <span>      &#123;sequence: 'MVLSGEDKSNIKAAWGKIGGHGAEYGAEALERMFASFPTTKTYFPHFDVSHGSAQVKGHG', id: 2, label: 'sp|P01942|HBA_MOUSE',  colorScheme: 'clustal'},</span>
          <span>      &#123;sequence: 'MSLTRTERTIILSLWSKISTQADVIGTETLERLFSCYPQAKTYFPHFDLHSGSAQLRAHG', id: 2, label: 'sp|P13786|HBAZ_CAPHI'}</span>
          <span>      ];</span>
          <span>sequenceviewer.<span class="hljs-js">draw</span>(sequences);</span>
        <span class="hljs-js">&lt;/script></span>
      </code></pre>
    </div>




  <!-------------------------------------  REGIONS  EXAMPLE ---------------------------------------->

  <h2 id="regions" class="snippet-title">Regions example<a fragment="simple-slider"><svg class="bi section-link" fill="currentColor" height="1em" width="1em"><use xlink:href="assets/bootstrap-icons.svg#link"></use></svg></a></h2>
    <p>Highlight part of the sequences with customizable colors.</p>
    <div class="sqvDemo"><div id="sqv2"></div></div>

  <div class="tab">
    <button>index.html</button>
  </div>

    <!-- Tab content -->
  <div>
        <pre class="prettyprint prettyprinted"><code class="language-java">
          <span class="hljs-js">&lt;head></span>
            <span class="hljs-js">&lt;link</span> rel=<span class="hljs-id">"stylesheet"</span> type=<span class="hljs-id">"text/css"</span> href=<span class="hljs-id">"sqv.css"</span><span class="hljs-js">>&lt;/div&gt;</span>
          <span class="hljs-js">&lt;/head></span>
          <span class="hljs-html">&lt;div</span> id <span class="hljs-id">="sqvRegions"</span><span class="hljs-html">&gt;&lt;/div&gt;</span>
          <span class="hljs-js">&lt;script</span> src=<span class="hljs-id">"sqv-bundle.js"</span><span class="hljs-js">&lt;/div&gt;</span>
          <span class="hljs-js">&lt;script></span>
            <span><span class="hljs-js">const</span> sequenceviewer = new SequenceViewer('sqvRegions'); </span>
            <span><span class="hljs-js">const</span> sequences = [ </span>
            <span>      &#123;sequence: 'MVLSPADKTNVKAAWGKVGAHGGEYGAEALERMFLSFPTTKTYFPHFDLSHGSAQVKGHG', id: 1, label: 'sp|P69905|HBA_HUMAN'},</span>
            <span>      &#123;sequence: 'MVLSGEDKSNIKAAWGKIGGHGAEYGAEALERMFASFPTTKTYFPHFDVSHGSAQVKGHG', id: 2, label: 'sp|P01942|HBA_MOUSE'},</span>
            <span>      &#123;sequence: 'MSLTRTERTIILSLWSKISTQADVIGTETLERLFSCYPQAKTYFPHFDVSSGSAQLRAHG', id: 2, label: 'sp|P13786|HBAZ_CAPHI'}</span>
            <span>      ];</span>
            <span><span class="hljs-js">const</span> regions = [ </span>
            <span>      &#123;sequenceId: 2, start: 1, end: 10, backgroundColor: '#D72638', color: '#FFFFFF'},</span>
            <span>      &#123;sequenceId: 2, start: 11, end: 20, backgroundColor: '#FF570A', color: '#FFFFFF'},</span>
            <span>      &#123;sequenceId: 2, start: 21, end: 30, backgroundColor: '#FFBC42', color: '#FFFFFF'},</span>
            <span>      &#123;sequenceId: 2, start: 31, end: 40, backgroundColor: '#44885B', color: '#FFFFFF'},</span>
            <span>      &#123;sequenceId: 2, start: 41, end: 50, backgroundColor: '#393C93', color: '#FFFFFF'},</span>
            <span>      &#123;sequenceId: 2, start: 51, end: 60, backgroundColor: '#7E1173', color: '#FFFFFF'}</span>
            <span>      ];</span>
            sequenceviewer.<span class="hljs-js">draw</span>(sequences, regions);
          <span class="hljs-js">&lt;/script></span>

       </code></pre>
    </div>

  <!-------------------------------------  ICONS  EXAMPLE ---------------------------------------->

  <h2 id="icons" class="snippet-title">Icons example<a fragment="simple-slider"><svg class="bi section-link" fill="currentColor" height="1em" width="1em"><use xlink:href="assets/bootstrap-icons.svg#link"></use></svg></a></h2>
  <p>Add icons on the top of the sequences to indicate the secondary structure.</p>
  <p> You can use the icons already available or input customizable icons, for more information check the instructions in the API Documentation.</p>

  <div class="sqvDemo"><div id="sqv3"></div></div>

  <div class="tab">
    <button>index.html</button>
  </div>

  <!-- Tab content -->
  <div>
       <pre class="prettyprint prettyprinted"><code class="language-java">
         <span class="hljs-js">&lt;head></span>
          <span class="hljs-js">&lt;link</span> rel=<span class="hljs-id">"stylesheet"</span> type=<span class="hljs-id">"text/css"</span> href=<span class="hljs-id">"sqv.css"</span><span class="hljs-js">>&lt;/div&gt;</span>
         <span class="hljs-js">&lt;/head></span>
         <span class="hljs-html">&lt;div</span> id <span class="hljs-id">="sqvIcons"</span><span class="hljs-html">&gt;&lt;/div&gt;</span>
         <span class="hljs-js">&lt;script</span> src=<span class="hljs-id">"sqv-bundle.js"</span><span class="hljs-js">&lt;/div&gt;</span>
          <span class="hljs-js">&lt;script></span>
            <span><span class="hljs-js">const</span> sequenceviewer = new SequenceViewer('sqvIcons'); </span>
            <span><span class="hljs-js">const</span> sequences = [ </span>
            <span>      &#123;sequence: 'MVLSPADKTNVKAAWGKVGAHAGEYGAEALERMFLSFPTTKTYFPHFDLSHGSAQVKGHG', id: 1, label: 'sp|P69905|HBA_HUMAN'},</span>
            <span>      &#123;sequence: 'MVLSGEDKSNIKAAWGKIGGHGAEYGAEALERMFASFPTTKTYFPHFDVSHGSAQVKGHG', id: 2, label: 'sp|P01942|HBA_MOUSE'},</span>
            <span>      &#123;sequence: 'MSLTRTERTIILSLWSKISTQADVIGTETLERLFSCYPQAKTYFPHFDLHSGSAQLRAHG', id: 2, label: 'sp|P13786|HBAZ_CAPHI'}</span>
            <span>      ];</span>
            <span><span class="hljs-js">const</span> icons = [ </span>
            <span>      &#123;sequenceId: 1, start: 1, end: 5, icon: 'turn'},</span>
            <span>      &#123;sequenceId: 1, start: 6, end: 15, icon: 'noSecondary'},</span>
            <span>      &#123;sequenceId: 1, start: 15, end: 19, icon: 'strand'},</span>
            <span>      &#123;sequenceId: 1, start: 20, end: 20, icon: 'arrowRight'},</span>
            <span>      &#123;sequenceId: 1, start: 21, end: 25, icon: 'helix'},</span>
            <span>      &#123;sequenceId: 1, start: 26, end: 30, icon: 'noSecondary'},</span>
            <span>      &#123;sequenceId: 1, start: 31, end: 35, icon: 'strand'},</span>
            <span>      &#123;sequenceId: 1, start: 36, end: 36, icon: 'arrowRight'},</span>
            <span>      &#123;sequenceId: 1, start: 37, end: 46, icon: 'helix'},</span>
            <span>      &#123;sequenceId: 1, start: 47, end: 47, icon: 'noSecondary'},</span>
            <span>      &#123;sequenceId: 1, start: 47, end: 49, icon: 'lollipop', display: 'center'},</span>
            <span>      &#123;sequenceId: 1, start: 49, end: 54, icon: 'noSecondary', display: 'center'},</span>
            <span>      &#123;sequenceId: 1, start: 55, end: 60, icon: 'turn'},</span>
            <span>      ];</span>
            <span><span class="hljs-js">const</span> opt3 = &#123;chunkSize: 60}; // sequence length </span>

            sequenceviewer.<span class="hljs-js">draw</span>(sequences, icons);
          <span class="hljs-js">&lt;/script></span>

          </code></pre>
  </div>

  <!-------------------------------------  PATTERNS  EXAMPLE ---------------------------------------->

  <h2 id="patterns" class="snippet-title">Patterns example<a fragment="simple-slider"><svg class="bi section-link" fill="currentColor" height="1em" width="1em"><use xlink:href="assets/bootstrap-icons.svg#link"></use></svg></a></h2>
  <p>Match the sequences against a regular expression to show possible patterns. </p>
  <div class="sqvDemo"><div id="sqv4"></div></div>

  <div class="tab">
    <button>index.html</button>
  </div>

  <!-- Tab content -->
  <div>
       <pre class="prettyprint prettyprinted"><code class="language-java">
         <span class="hljs-js">&lt;head></span>
           <span class="hljs-js">&lt;link</span> rel=<span class="hljs-id">"stylesheet"</span> type=<span class="hljs-id">"text/css"</span> href=<span class="hljs-id">"sqv.css"</span><span class="hljs-js">>&lt;/div&gt;</span>
         <span class="hljs-js">&lt;/head></span>
         <span class="hljs-html">&lt;div</span> id <span class="hljs-id">="sqvPatterns"</span><span class="hljs-html">&gt;&lt;/div&gt;</span>
         <span class="hljs-js">&lt;script</span> src=<span class="hljs-id">"sqv-bundle.js"</span><span class="hljs-js">&lt;/div&gt;</span>
         <span class="hljs-js">&lt;script></span>
            <span><span class="hljs-js">const</span> sequenceviewer = new SequenceViewer('sqvPatterns'); </span>
            <span><span class="hljs-js">const</span> sequences = [ </span>
            <span>      &#123;sequence: 'MVLSPADKTNVKAAWGKVGAHAGEYGAEALERMFLSFPTTKTYFPHFDLSHGSAQVKGHG', id: 1, label: 'sp|P69905|HBA_HUMAN'},</span>
            <span>      &#123;sequence: 'MVLSGEDKSNIKAAWGKIGGHGAEYGAEALERMFASFPTTKTYFPHFDVSHGSAQVKGHG', id: 2, label: 'sp|P01942|HBA_MOUSE'},</span>
            <span>      &#123;sequence: 'MSLTRTERTIILSLWSKISTQADVIGTETLERLFSCYPQAKTYFPHFDLHSGSAQLRAHG', id: 2, label: 'sp|P13786|HBAZ_CAPHI'}</span>
            <span>      ];</span>
            <span><span class="hljs-js">const</span> patterns = [ </span>
            <span>      &#123;sequenceId: 1, pattern: /GA/g, backgroundColor: '#D72638'},</span>
            <span>      &#123;sequenceId: 2, pattern: /GA/g, backgroundColor: '#D72638'},</span>
            <span>      &#123;sequenceId: 1, pattern: /TT/g, backgroundColor: '#FF570A'},</span>
            <span>      &#123;sequenceId: 2, pattern: /TT/g, backgroundColor: '#FF570A'},</span>
            <span>      &#123;sequenceId: 2, pattern: /VS/g, backgroundColor: '#FFBC42'}</span>
            <span>      &#123;sequenceId: 3, pattern: /VS/g, backgroundColor: '#FFBC42'}</span>
            <span>      &#123;sequenceId: 2, pattern: /VS/g, backgroundColor: '#FFBC42'}</span>
            <span>      &#123;sequenceId: 3, pattern: /VS/g, backgroundColor: '#FFBC42'}</span>
            <span>      ];</span>
            sequenceviewer.<span class="hljs-js">draw</span>(sequences, patterns);
         <span class="hljs-js">&lt;/script></span>
          </code></pre>
  </div>

  <!-------------------------------------  COLORSCHEME  EXAMPLE ---------------------------------------->

  <h2 id="colorscheme" class="snippet-title">ColorScheme example<a><svg class="bi section-link" fill="currentColor" height="1em" width="1em"><use xlink:href="assets/bootstrap-icons.svg#link"></use></svg></a></h2>
  <p>Set a global colorScheme. Available global colorschemes are: clustal, blosum62.</p>
  <p style="color:#000;"><b>1. Clustal</b></p>

  <div class="sqvDemo"><div id="sqv6"></div></div>
  <div class="tab">
    <button>index.html</button>
  </div>

  <!-- Tab content -->
  <div>
       <pre class="prettyprint prettyprinted"><code class="language-java">
         <span class="hljs-js">&lt;head></span>
          <span class="hljs-js">&lt;link</span> rel=<span class="hljs-id">"stylesheet"</span> type=<span class="hljs-id">"text/css"</span> href=<span class="hljs-id">"sqv.css"</span><span class="hljs-js">>&lt;/div&gt;</span>
         <span class="hljs-js">&lt;/head></span>
         <span class="hljs-html">&lt;div</span> id <span class="hljs-id">="sqvColorscheme"</span><span class="hljs-html">&gt;&lt;/div&gt;</span>
         <span class="hljs-js">&lt;script</span> src=<span class="hljs-id">"sqv-bundle.js"</span><span class="hljs-js">&lt;/div&gt;</span>
          <span class="hljs-js">&lt;script></span>
            <span><span class="hljs-js">const</span> sequenceviewer = new SequenceViewer('sqvColorscheme'); </span>
            <span><span class="hljs-js">const</span> sequences = [ </span>
            <span>      &#123;sequence: 'MVLSPADKTNVKAAWGKVGAHAGEYGAEALERMFLSFPTTKTYFPHFDLSHGSAQVKGHG', id: 1, label: 'sp|P69905|HBA_HUMAN', startIndex: 2},</span>
            <span>      &#123;sequence: 'MVLSGEDKSNIKAAWGKIGGHGAEYGAEALERMFASFPTTKTYFPHFDVSHGSAQVKGHG', id: 2, label: 'sp|P01942|HBA_MOUSE'},</span>
            <span>      &#123;sequence: 'MSLTRTERTIILSLWSKISTQADVIGTETLERLFSCYPQAKTYFPHFDLHSGSAQLRAHG', id: 2, label: 'sp|P13786|HBAZ_CAPHI'}</span>
            <span>      ];</span>
            <span><span class="hljs-js">const</span> options =  &#123;</span>
            <span>      colorScheme: 'clustal'</span>
            <span>      };</span>
            sequenceviewer.<span class="hljs-js">draw</span>(sequences, options);
         <span class="hljs-js">&lt;/script></span>
          </code></pre>
  </div>
  <p style="color:#000;margin-top: 20px"><b>2. Blosum62</b></p>
<!--  <div id="heatmap"></div>-->

  <!-------------------------------------  Lateral INDEXES  EXAMPLE ---------------------------------------->

  <h2 id="lateralindexes" class="snippet-title">Lateral Indexes example<a><svg class="bi section-link" fill="currentColor" height="1em" width="1em"><use xlink:href="assets/bootstrap-icons.svg#link"></use></svg></a></h2>
  <p>Set a lateral starting index for the sequence/s. You can count gaps or not. (See API Documentation)</p>
  <p>Here the start index is set at 2 and gaps are counted.</p>
  <p> The sequence-viewer width is set to 450px to show the indexes behaviour when the sequence is split in several lines.</p>
  <div class="sqvDemo"><div id="sqv5" style="width: 450px"></div></div>

  <div class="tab">
    <button>index.html</button>
  </div>

  <!-- Tab content -->
  <div>
       <pre class="prettyprint prettyprinted"><code class="language-java">
         <span class="hljs-js">&lt;head></span>
          <span class="hljs-js">&lt;link</span> rel=<span class="hljs-id">"stylesheet"</span> type=<span class="hljs-id">"text/css"</span> href=<span class="hljs-id">"sqv.css"</span><span class="hljs-js">>&lt;/div&gt;</span>
         <span class="hljs-js">&lt;/head></span>
        <span class="hljs-html">&lt;div</span> id <span class="hljs-id">="sqvLateralIndexes"</span><span class="hljs-html">&gt;&lt;/div&gt;</span>
         <span class="hljs-js">&lt;script</span> src=<span class="hljs-id">"sqv-bundle.js"</span><span class="hljs-js">&lt;/div&gt;</span>
        <span class="hljs-js">&lt;script></span>
          <span><span class="hljs-js">const</span> sequenceviewer = new SequenceViewer('sqvLateralIndexes'); </span>
          <span><span class="hljs-js">const</span> sequences = [ </span>
          <span>      &#123;sequence: 'MVLSPADKTNVKAA-----EYGAEALERMFLSFPTTKTYFPHFDLSHGSAQVKGHG', id: 1, label: 'sp|P69905|HBA_HUMAN', startIndex: 2}</span>
          <span>      ];</span>
          <span><span class="hljs-js">const</span> options =  &#123;</span>
          <span>      lateralIndexesGap: true</span>
          <span>      };</span>
          sequenceviewer.<span class="hljs-js">draw</span>(sequences, options);
        <span class="hljs-js">&lt;/script></span>
          </code></pre>
  </div>


  <!-------------------------------------  CONSENSUS  EXAMPLE ---------------------------------------->

  <h2 id="consensus" class="snippet-title">Consensus example<a><svg class="bi section-link" fill="currentColor" height="1em" width="1em"><use xlink:href="assets/bootstrap-icons.svg#link"></use></svg></a></h2>
  <p>Set consensus and consensus threshold. Available consensus types are: identity, physical.</p>

<!--  identity -->
  <div class="palette">
    <p style="color:#000;"><b>1. Identity consensus</b></p>
    <p>A color is set for each percentage of consensus.</p>
    <p> Legend:</p>

    <div style="width:120px;background-color: #213945; color: white;">&nbsp;100%</div>
    <div style="width:100px; background-color: #42728A; color: white;">&nbsp;70%</div>
    <div style="width:80px; background-color: #5a93af; color: white;">&nbsp;40%</div>
    <div style="width:60px; background-color: #9fc0d1; color: white;">&nbsp;10%</div>
    <div style="width:40px; background-color: #9fc0d1; color: white;">&nbsp;0%</div>
  </div>

  <div class="sqvDemo"><div id="sqv7"></div></div>

  <div class="tab">
    <button>index.html</button>
  </div>

  <!-- Tab content -->
  <div>
       <pre class="prettyprint prettyprinted"><code class="language-java">
         <span class="hljs-js">&lt;head></span>
          <span class="hljs-js">&lt;link</span> rel=<span class="hljs-id">"stylesheet"</span> type=<span class="hljs-id">"text/css"</span> href=<span class="hljs-id">"sqv.css"</span><span class="hljs-js">>&lt;/div&gt;</span>
         <span class="hljs-js">&lt;/head></span>
         <span class="hljs-html">&lt;div</span> id <span class="hljs-id">="sqvConsensusIdentity"</span><span class="hljs-html">&gt;&lt;/div&gt;</span>
         <span class="hljs-js">&lt;script</span> src=<span class="hljs-id">"sqv-bundle.js"</span><span class="hljs-js">&lt;/div&gt;</span>
         <span class="hljs-js">&lt;script></span>
          <span><span class="hljs-js">const</span> sequenceviewer = new SequenceViewer('sqvConsensusIdentity'); </span>
          <span><span class="hljs-js">const</span> sequences = [ </span>
          <span>      &#123;sequence: 'MVLSPADKTNVKAAWGKVGAHAGEYGAEALERMFLSFPTTKTYFPHFDLSHGSAQVKGHG', id: 1, label: 'sp|P69905|HBA_HUMAN', startIndex: 2},</span>
          <span>      &#123;sequence: 'MVLSGEDKSNIKAAWGKIGGHGAEYGAEALERMFASFPTTKTYFPHFDVSHGSAQVKGHG', id: 2, label: 'sp|P01942|HBA_MOUSE'},</span>
          <span>      &#123;sequence: 'MSLTRTERTIILSLWSKISTQADVIGTETLERLFSCYPQAKTYFPHFDLHSGSAQLRAHG', id: 2, label: 'sp|P13786|HBAZ_CAPHI'}</span>
          <span>      ];</span>
          <span><span class="hljs-js">const</span> options =  &#123;</span>
          <span>      consensusType: 'identity', consensusThreshold: 80</span>
          <span>      };</span>
          sequenceviewer.<span class="hljs-js">draw</span>(sequences, options);
         <span class="hljs-js">&lt;/script></span>
          </code></pre>
  </div>

  <!--  physical-->
  <p style="color: #000; margin-top: 20px;"><b>2. Physical consensus</b></p>
  <p>If there there is 100% identity in a column, consensus identity is displayed. In all other cases, physical consensus is calculated.</p>

  <table>
    <tr class="first">
      <th>Letter</th>
      <th>Symbol</th>
      <th>Property</th>
    </tr>
    <tr class="field0">
      <td>A</td>
      <td><span class="n">n</span></td>
      <td>small nonpolar</td>
    </tr>
    <tr class="field0">
      <td>G</td>
      <td><span class="n">n</span></td>
      <td>small nonpolar</td>
    </tr>
    <tr class="field0">
      <td>S</td>
      <td><span class="n">n</span></td>
      <td>small nonpolar</td>
    </tr>
    <tr class="field0">
      <td>T</td>
      <td><span class="n">n</span></td>
      <td>small nonpolar</td>
    </tr>
    <tr class="field0">
      <td>C</td>
      <td><span class="h">h</span></td>
      <td>hydrophobic</td>
    </tr>
    <tr class="field0">
      <td>V</td>
      <td><span class="h">h</span></td>
      <td>hydrophobic</td>
    </tr>
    <tr class="field0">
      <td>I</td>
      <td><span class="h">h</span></td>
      <td>hydrophobic</td>
    </tr>
    <tr class="field0">
      <td>L</td>
      <td><span class="h">h</span></td>
      <td>hydrophobic</td>
    </tr>
    <tr class="field0">
      <td>P</td>
      <td><span class="h">h</span></td>
      <td>hydrophobic</td>
    </tr>
    <tr class="field0">
      <td>F</td>
      <td><span class="h">h</span></td>
      <td>hydrophobic</td>
    </tr>
    <tr class="field0">
      <td>Y</td>
      <td><span class="h">h</span></td>
      <td>hydrophobic</td>
    </tr>
    <tr class="field0">
      <td>M</td>
      <td><span class="h">h</span></td>
      <td>hydrophobic</td>
    </tr>
    <tr class="field0">
      <td>W</td>
      <td><span class="h">h</span></td>
      <td>hydrophobic</td>
    </tr>
    <tr class="field0">
      <td>N</td>
      <td><span class="p">p</span></td>
      <td>polar</td>
    </tr>
    <tr class="field0">
      <td>Q</td>
      <td><span class="p">p</span></td>
      <td>polar</td>
    </tr>
    <tr class="field0">
      <td>H</td>
      <td><span class="p">p</span></td>
      <td>polar</td>
    </tr>
    <tr class="field0">
      <td>D</td>
      <td><span class="neg">~</span></td>
      <td>negatively charged</td>
    </tr>
    <tr class="field0">
      <td>E</td>
      <td><span class="neg">~</span></td>
      <td>negatively charged</td>
    </tr>
    <tr class="field0">
      <td>K</td>
      <td><span class="pos">+</span></td>
      <td>positively charged</td>
    </tr>
    <tr class="field0">
      <td>R</td>
      <td><span class="pos">+</span></td>
      <td>positively charged</td>
    </tr>

  </table>

  <div class="sqvDemo"><div id="sqvPhysical"></div></div>
  <div class="tab">
    <button>index.html</button>
  </div>

  <!-- Tab content -->
  <div>
       <pre class="prettyprint prettyprinted"><code class="language-java">
         <span class="hljs-js">&lt;head></span>
          <span class="hljs-js">&lt;link</span> rel=<span class="hljs-id">"stylesheet"</span> type=<span class="hljs-id">"text/css"</span> href=<span class="hljs-id">"sqv.css"</span><span class="hljs-js">>&lt;/div&gt;</span>
         <span class="hljs-js">&lt;/head></span>
         <span class="hljs-html">&lt;div</span> id <span class="hljs-id">="sqvConsensusPhysical"</span><span class="hljs-html">&gt;&lt;/div&gt;</span>
         <span class="hljs-js">&lt;script</span> src=<span class="hljs-id">"sqv-bundle.js"</span><span class="hljs-js">&lt;/div&gt;</span>
         <span class="hljs-js">&lt;script></span>
          <span><span class="hljs-js">const</span> sequenceviewer = new SequenceViewer('sqvConsensusPhysical'); </span>
          <span><span class="hljs-js">const</span> sequences = [ </span>
          <span>      &#123;sequence: 'MVLSPADKTNVKAAWGKVGAHAGEYGAEALERMFLSFPTTKTYFPHFDLSHGSAQVKGHG', id: 1, label: 'sp|P69905|HBA_HUMAN', startIndex: 2},</span>
          <span>      &#123;sequence: 'MVLSGEDKSNIKAAWGKIGGHGAEYGAEALERMFASFPTTKTYFPHFDVSHGSAQVKGHG', id: 2, label: 'sp|P01942|HBA_MOUSE'},</span>
          <span>      &#123;sequence: 'MSLTRTERTIILSLWSKISTQADVIGTETLERLFSCYPQAKTYFPHFDLHSGSAQLRAHG', id: 2, label: 'sp|P13786|HBAZ_CAPHI'}</span>
          <span>      ];</span>
          <span><span class="hljs-js">const</span> options =  &#123;</span>
          <span>      consensusType: 'physical'</span>
          <span>      };</span>
          sequenceviewer.<span class="hljs-js">draw</span>(sequences, options);
         <span class="hljs-js">&lt;/script></span>
          </code></pre>
  </div>
  <!-------------------------------------  ONELINESETTING  EXAMPLE ---------------------------------------->

  <h2 id="oneLineSetting" class="snippet-title">One line setting example<a><svg class="bi section-link" fill="currentColor" height="1em" width="1em"><use xlink:href="assets/bootstrap-icons.svg#link"></use></svg></a></h2>
  <p>Set a non-responsive version of the sequence viewer. The width is fixed and a scrollbar helps the visualization of the sequences.</p>
  <div class="sqvDemo">
    <div class="row">
      <div id="sqv8"></div>
    </div>
  </div>
  <div class="tab">
    <button>index.html</button>
  </div>

  <!-- Tab content -->
  <div>
       <pre class="prettyprint prettyprinted"><code class="language-java">
         <span class="hljs-js">&lt;head></span>
          <span class="hljs-js">&lt;link</span> rel=<span class="hljs-id">"stylesheet"</span> type=<span class="hljs-id">"text/css"</span> href=<span class="hljs-id">"sqv.css"</span><span class="hljs-js">>&lt;/div&gt;</span>
         <span class="hljs-js">&lt;/head></span>
          <span class="hljs-html">&lt;div</span> id <span class="hljs-id">="sqvOneLineSetting"</span><span class="hljs-html">&gt;&lt;/div&gt;</span>
         <span class="hljs-js">&lt;script</span> src=<span class="hljs-id">"sqv-bundle.js"</span><span class="hljs-js">&lt;/div&gt;</span>
          <span class="hljs-js">&lt;script></span>
             <span><span class="hljs-js">const</span> sequenceviewer = new SequenceViewer('sqvOneLineSetting'); </span>
             <span><span class="hljs-js">const</span> sequences = [ </span>
             <span>      &#123;sequence: 'MVLSPADKTNVKAAWGKVGAHAGEYGAEALERMFLSFPTTKTYFPHFDLSHGSAQVKGHG', id: 1, label: 'sp|P69905|HBA_HUMAN', startIndex: 2},</span>
             <span>      &#123;sequence: 'MVLSGEDKSNIKAAWGKIGGHGAEYGAEALERMFASFPTTKTYFPHFDVSHGSAQVKGHG', id: 2, label: 'sp|P01942|HBA_MOUSE'},</span>
             <span>      &#123;sequence: 'MSLTRTERTIILSLWSKISTQADVIGTETLERLFSCYPQAKTYFPHFDLHSGSAQLRAHG', id: 2, label: 'sp|P13786|HBAZ_CAPHI'}</span>
             <span>      ];</span>
             <span><span class="hljs-js">const</span> options =  &#123;</span>
             <span>      oneLineSetting: true, oneLineWidth: '350px'</span>
             <span>      };</span>
            sequenceviewer.<span class="hljs-js">draw</span>(sequences, options);
         <span class="hljs-js">&lt;/script></span>
          </code></pre>
  </div>

  <!-------------------------------------  SELECTIONS  EXAMPLE ---------------------------------------->

  <h2 id="selection" class="snippet-title">Selection example<a><svg class="bi section-link" fill="currentColor" height="1em" width="1em"><use xlink:href="assets/bootstrap-icons.svg#link"></use></svg></a></h2>
  <p><b>1. Copy-paste event</b></p>
  <p>Click and drag the mouse to select a region, the region will be highlighted in yellow. Use the
    shortcut Ctrl+C to copy and Ctrl+V to paste. The selected region will disappear after using a
    shortcut or clicking on another area.</p>
  <div class="sqvDemo">
    <div class="row">
      <div id="sqv9"></div>
    </div>
  </div>
  <div class="box">
    <form>
      <div class="row">
        <div class="col-25">
          <label for="subject">Try it out!</label>
        </div>
        <div class="col-75">
          <textarea id="subject" name="subject" placeholder="Copy-paste something.." style="height:200px"></textarea>
        </div>
      </div>

    </form>
  </div>

  <p><b>1. On character selected event </b></p>
  <p>The double click event will return information about the clicked character, like the x, y positions and the character itself.</p>
  <pre class="prettyprint prettyprinted"><code class="language-java">
    <span> window.<span class="hljs-js">addEventListener</span>('onRegionSelected', (e) =>   &#123;
             console.<span class="hljs-js">log</span>('character selected', e);
           });
    </span>
  </code></pre>
</div>




<!------------------------------------- API ---------------------------------------->

<div id="API" class="tabcontent">
  <div class="snippet-card card">
    <div>
      <h2>Installation Guide - Javascript</h2>

      <h3><strong>1. Download the sequence viewer stylesheet</strong></h3>
      <p>You can find the <i>sqv.css</i> file in the src/assets folder on the <a href="https://github.com/BioComputingUP/sequence-viewer-typescript">Github repo.</a></p>

      <h3><strong>2. Download the library code</strong></h3>
      <p>You can find the <i>sqv-bundle.js</i> file in the src/assets folder on the <a href="https://github.com/BioComputingUP/sequence-viewer-typescript">Github repo.</a></p>

      <h3><strong>3. Load the stylesheet</strong></h3>
      <p>Place the following code in the &lt;head>&lt;/head> section.</p>
      <pre><code><span class="hljs-js">&lt;link</span> rel=<span class="hljs-id">"stylesheet"</span> type=<span class="hljs-id">"text/css"</span> href=<span class="hljs-id">"sqv.css"</span><span class="hljs-js">>&lt;/div&gt;</span></code></pre>

      <h3><strong>4. Load the library</strong></h3>
      <pre><code><span class="hljs-js">&lt;script</span> src=<span class="hljs-id">"sqv-bundle.js"</span><span class="hljs-js">&lt;/div&gt;</span></code></pre>

      <h3><strong>5. Place the sequence viewer in your index.html </strong></h3>
      <p>Be sure to place the following code before the &lt;script>&lt;/script> section.</p>
      <pre><code><span class="hljs-html">&lt;div</span> id <span class="hljs-id">="sqv"</span><span class="hljs-html">&gt;&lt;/div&gt;</span></code></pre>

      <h3><strong> 6. Create an instance of the sequence viewer in javascript</strong></h3>
      <p>Place the following code in the &lt;script>&lt;/script> section.</p>
      <pre><code><p><span class="hljs-js">const</span> sequenceviewer = <span class="hljs-js">new</span> SequenceViewer(<span class="hljs-id">'sqv'</span>);</p></code></pre>

      <h3><strong> 7. Add inputs</strong></h3>
      <p>Here an example with minimum required input, for the full list of input settings options check the available parameters</p>
      <pre><code><p><span class="hljs-js">const</span> sequence = [&#123;sequence: 'DFRLE--F-DFRLEDFRLE----&#125;]</p></code></pre>

      <h3><strong> 8. Execute the function to draw the sequence viewer on the page </strong></h3>
      <pre><code>sequenceviewer.<span class="hljs-js">draw</span>(sequence);</code></pre>

      <h2>Installation Guide - Angular</h2>

      <p>The sequence-viewer-typescript package is written in pure typescript and does not have any dependencies. This guide focus on how to install the package in an Angular app.</p>
      <h3><strong>1. Install the library using npm</strong></h3>
      <pre><code>npm i sequence-viewer-typescript</code></pre>

      <h3><strong>2. Load the sequence viewer stylesheet in your angular.json "styles" </strong></h3>
      <pre><code><span class="hljs-ang">styles:</span> ["./node_modules/sequence-viewer-typescript/dist/assets/sqv.scss"]</code></pre>

      <h3><strong>3. Import the sequence viewer in your angular component </strong></h3>
      <pre><code><span class="hljs-js">import</span> &#123; SequenceViewer &#125; <span class="hljs-keyword">from</span> <span class="hljs-id">'sequence-viewer-typescript/dist'</span>;</code></pre>

      <h3><strong> 4. Place the sequence viewer in your html </strong></h3>
      <pre><code><span class="hljs-html">&lt;div</span> id <span class="hljs-id">="sqv"</span><span class="hljs-html">&gt;&lt;/div&gt;</span></code></pre>


      <h3><strong> 5. Create an instance of the sequence viewer in your app.component.ts</strong></h3>
      <pre><code><p><span class="hljs-js">const</span> sequenceviewer = <span class="hljs-js">new</span> SequenceViewer(<span class="hljs-id">'sqv'</span>);</p></code></pre>

      <h3><strong> 6. Add inputs</strong></h3>
      <p>Here an example with minimum required input, for the full list of input settings options check the available parameters.</p>
      <pre><code><p><span class="hljs-js">const</span> sequence = [&#123;sequence: 'DFRLE--F-DFRLEDFRLE----&#125;]</p></code></pre>

      <h3><strong> 7. Execute the function to draw the sequence viewer on the page </strong></h3>
      <pre><code>sequenceviewer.<span class="hljs-js">draw</span>(sequence);</code></pre>
      <h2>Available parameters</h2>

      <table>
        <tr class="first">
          <th>Field 0</th>
          <th>Field 1</th>
          <th>Type</th>
          <th>Example</th>
          <th>Description</th>
        </tr>
        <tr class="field0">
          <th>Sequences</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr class="field1">
          <td></td>
          <td>sequence</td>
          <td>string</td>
          <td>LYRLELERECAMT</td>
          <td>Sequence of characters</td>
        </tr>
        <tr class="field1">
          <td></td>
          <td>id</td>
          <td>integer</td>
          <td>1</td>
          <td>Identifier of the sequence</td>
        </tr>
        <tr class="field1">
          <td></td>
          <td>label</td>
          <td>string</td>
          <td>1xvz_1_30.pdb</td>
          <td>Lateral label</td>
        </tr>
        <tr class="field1">
          <td></td>
          <td>colorScheme</td>
          <td>string</td>
          <td>clustal, gradient, binary, blosum62</td>
          <td>Predefined color palette</td>
        </tr>
        <tr class="field1">
          <td></td>
          <td>labelTooltip</td>
          <td>string</td>
          <td>&lt;span class="tooltipText" style="background-color: blue;"&gt;Tooltip text&lt;/span&gt;</td>
          <td>Stylable tooltip</td>
        </tr>
        <tr class="field1">
          <td></td>
          <td>startIndex</td>
          <td>integer</td>
          <td>30</td>
          <td>Start index of the input sequence.</td>
        </tr>
        <tr class="field0">
          <th>Regions</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr class="field1">
          <td></td>
          <td>sequenceId</td>
          <td>integer</td>
          <td>1</td>
          <td>Identifier of the sequence.</td>
        </tr>
        <tr class="field1">
          <td></td>
          <td>start</td>
          <td>integer</td>
          <td>10</td>
          <td>Start position of the region to color.</td>
        </tr>
        <tr class="field1">
          <td></td>
          <td>end</td>
          <td>integer</td>
          <td>20</td>
          <td>End position of the region to color.</td>
        </tr>
        <tr class="field1">
          <td></td>
          <td>backgroundColor</td>
          <td>string</td>
          <td>hex, rgb</td>
          <td>Color the character background.</td>
        </tr>
        <tr class="field1">
          <td></td>
          <td>color</td>
          <td>string</td>
          <td>hex, rgb</td>
          <td>Color the character.</td>
        </tr>
        <tr class="field1">
          <td></td>
          <td>backgroundImage</td>
          <td>integer</td>
          <td>linear-gradient(red, yellow)</td>
          <td>Color the character background with a two color gradient.</td>
        </tr>
        <tr class="field0">
          <th>Patterns</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr class="field1">
          <td></td>
          <td>sequenceId</td>
          <td>integer</td>
          <td>1</td>
          <td>Identifier of the sequence.</td>
        </tr>
        <tr class="field1">
          <td></td>
          <td>start</td>
          <td>integer</td>
          <td>10</td>
          <td>Start position of the region where to perform the regex.</td>
        </tr>
        <tr class="field1">
          <td></td>
          <td>end</td>
          <td>integer</td>
          <td>20</td>
          <td>End position of the region where to perform the regex.</td>
        </tr>
        <tr class="field1">
          <td></td>
          <td>backgroundColor</td>
          <td>string</td>
          <td>hex, rgb</td>
          <td>Color the regex match background.</td>
        </tr>
        <tr class="field1">
          <td></td>
          <td>color</td>
          <td>string</td>
          <td>hex, rgb</td>
          <td>Color the regex match the character.</td>
        </tr>
        <tr class="field1">
          <td></td>
          <td>backgroundImage</td>
          <td>integer</td>
          <td>linear-gradient(red, yellow)</td>
          <td>Color the regex match character background with a two color gradient.</td>
        </tr>
        <tr class="field0">
          <th>Icons</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr class="field1">
          <td></td>
          <td>sequenceId</td>
          <td>integer</td>
          <td>1</td>
          <td>Identifier of the sequence.</td>
        </tr>
        <tr class="field1">
          <td></td>
          <td>start</td>
          <td>integer</td>
          <td>10</td>
          <td>Start position of the icon region.</td>
        </tr>
        <tr class="field1">
          <td></td>
          <td>end</td>
          <td>integer</td>
          <td>20</td>
          <td>End position of the icon region.</td>
        </tr>
        <tr class="field1">
          <td></td>
          <td>icon</td>
          <td>string</td>
          <td>lollipop, helix, strand, strand-arrow-left, turn</td>
          <td>svg image to apply on top of the indicated sequence.</td>
        </tr>
        <tr class="field1">
          <td></td>
          <td>display</td>
          <td>string</td>
          <td>center</td>
          <td>Center the icon in the middle of the start-end region.</td>
        </tr>
        <tr class="field0">
          <th>Options</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr class="field1">
          <td></td>
          <td>fontSize</td>
          <td>string</td>
          <td>14px</td>
          <td>Font dimension.</td>
        </tr>
        <tr class="field1">
          <td></td>
          <td>chunkSize</td>
          <td>integer</td>
          <td>10</td>
          <td>group the sequence into chunks of subsequential characters.</td>
        </tr>
        <tr class="field1">
          <td></td>
          <td>spaceSize</td>
          <td>integer</td>
          <td>2</td>
          <td>Space among chunks.</td>
        </tr>
        <tr class="field1">
          <td></td>
          <td>logLevel</td>
          <td>string</td>
          <td>debug or none</td>
          <td>Print console log error with "debug" option.</td>
        </tr>
        <tr class="field1">
        <td></td>
        <td>topIndexes</td>
        <td>boolean</td>
        <td>true</td>
        <td>Place an index on top of the end of each chunk (first row only).</td>
      </tr>
      <tr class="field1">
        <td></td>
        <td>oneLineSetting</td>
        <td>boolean</td>
        <td>true</td>
        <td>Display the viewer with fixed width (not responsive) and scrollbar on the sequences.</td>
      </tr>
      <tr class="field1">
        <td></td>
        <td>oneLineWidth</td>
        <td>integer</td>
        <td>2</td>
        <td>Width of sequenceViewer - sidebar.</td>
      </tr>
      <tr class="field1">
        <td></td>
        <td>lateralIndexesGap</td>
        <td>boolean</td>
        <td>true</td>
        <td>Shows lateral indexes including gaps in the count (true) or excluding them (false).</td>
      </tr>
      <tr class="field1">
        <td></td>
        <td>colorScheme</td>
        <td>integer</td>
        <td>clustal, gradient, binary,  blosum62</td>
        <td>Colorscheme to apply to all sequences.</td>
      </tr>
      <tr class="field1">
        <td></td>
        <td>consensusType</td>
        <td>string</td>
        <td>identity, physical</td>
        <td>Add a line with consensus information.</td>
      </tr>
      <tr class="field1">
        <td></td>
        <td>consensusThreshold</td>
        <td>integer</td>
        <td>90</td>
        <td>Threeshold for consensus information.</td>
      </tr>
        <tr class="field0">
          <th>iconsHtml</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr class="field1">
          <td></td>
          <td>id</td>
          <td>string</td>
          <td>icons</td>
          <td>Input identifier.</td>
        </tr>
        <tr class="field1">
          <td></td>
          <td>iconName</td>
          <td>string</td>
          <td>&lt;svg>...&lt;/svg></td>
          <td>An svg icon.</td>
        </tr>
      </table>
    </div>
  </div>
</div>


