<div class="jumbotron jumbotron-fluid pb-3 mb-0">
  <div class="container"><div class="d-flex flex-row"><div class="mr-3">
    <div><h1 class="display-4">Sequence Viewer Typescript</h1>
      <p _ngcontent-c1="" class="lead">Self-contained Typescript library for the visualization of (not only) biological sequence features: <a _ngcontent-c1="" href="https://github.com/mb925/sequence-viewer-typescript">sequence-viewer-typescript</a></p><a href="https://www.npmjs.com/package/sequence-viewer-typescript"><span id="npm">npm package </span><span id="version">1.0.15</span></a></div></div></div></div></div>

<button class="tablink" (click)="openPage('Demos')" id="defaultOpen">Demos</button>
<button class="tablink" (click)="openPage('API')">API  Documentation</button>

<div id="Demos" class="tabcontent">
  <h2 class="snippet-title" id="simple-slider">Simple <a fragment="simple-slider" routerlink="./" href="/ngx-slider/demos#simple-slider"><svg class="bi section-link" fill="currentColor" height="1em" width="1em"><use xlink:href="assets/bootstrap-icons.svg#link"></use></svg></a></h2>

  <div class="snippet-card card">
    <div class="sqvContainer">
      <div id="sqv0"></div>

    </div>

    <div class="tab2">
      <button class="tablinks2" (click)="openPage2( 'app.component.ts')" id="defaultOpen2">app.component.ts</button>
      <button class="tablinks2" (click)="openPage2( 'app.component.html')">app.component.html</button>
    </div>

    <!-- Tab content -->
    <div id="app.component.ts" class="tabcontent2">
      <h3>option settings</h3>
      <p>here are the settings.</p>
    </div>

    <div id="app.component.html" class="tabcontent2">
      <h3>html content</h3>
      <p>here is html content</p>
    </div>



  </div>

</div>

<div id="API" class="tabcontent">
  <h2>API Documentation</h2>
  <div class="snippet-card card">hhhhhhhhhhhhhhhh</div>
</div>


