
.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}
  .jumbotron {
    padding: 2rem 1rem;
    background-color: #D9D9D9;
    border-radius: .3rem;
  }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#preview{
  padding: 50px 100px 100px 100px;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.h1, h1 {
  font-size: 2.5rem;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.fork-me-ribbon[_ngcontent-c1] {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.d-flex {
  text-align: center;
}

#npm{
  background-color: dimgrey;
  color: #e9ecef;
  padding: 5px;
  border-radius: 5px;
}

#version{
  background-color: brown;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
.txt {
  color: #E36397;
}

li {
  border-top: 0.5px solid #eee;
  border-bottom: 0.5px solid #eee;
}

ul {
  padding: 0;
  list-style-type: none;
}

/* Style tab links */
.tablink {
  background-color: #E36397;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
}

.tablink:hover {
  background-color: #BC8DA7;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  display: none;
  padding: 50px  100px 100px 100px;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .tabcontent {
    padding: 30px  30px 30px 30px;
  }
}


h2 {
  font-size: 2rem;
}
h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.h2 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

 .tab {
  overflow: hidden;
  background-color: #F5F5F5;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border-left: 1px solid #cccc;
  border-right: 1px solid #cccc;
  border-top: 1px solid #cccc;
  background-color: #f1f1f1;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #E0E0E0;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tb {
  font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
  display: none;
  padding: 6px 12px;
  border: 1px solid #cccc;
  border-top: none;
  background-color: #f1f1f1;
}
 .tl {
   border: 1px solid #ccc;
 }

.sqvDemo {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  padding: 20px;
  box-shadow: 2.5px 5px #dddddd;
  overflow-x: auto;
}
.sqvDemoGeneral {
  display: flex;
  justify-content: center;
  border: 1px solid #dddddd;
  padding: 20px;
}

.palette {
  display: inline-block;
  margin-right: 20px;
}

.physical {
  color: white;float: left
}
/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the container */
.box {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/*#paste{*/
/*  width: 450px;*/
/*  height: 100px;*/
/*  margin-bottom: 10px;*/
/*  overflow-x: scroll;*/
/*}*/

pre  {
  padding: 10px;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  margin: 0;
  font-size: 14px;
  background-color: rgba(0,0,0,.04);
  display: block;
  overflow-x: auto;
}

code {
  margin: 0;
  font-size: 14px;
  color: #000;
  font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
  text-align: left;
  white-space: pre;
  line-height: 1.5;
}


.hljs-html {
  color: #FFAD0A;
}
.hljs-id {
  color: #8ED025;
}
.hljs-js {
  color: darkorange;
}
.hljs-ang {
  color: purple;
}

table {
  border-collapse: collapse;
  width: 100%;
}
.first {
  border: 1px solid #dddddd;
}

td, th {
  text-align: left;
  padding: 8px;
}

.field0 {
  background-color: rgba(0,0,0,.04);
}

.n {
  height: 25px;
  width: 25px;
  background-color: #f09048;
  border-radius: 50%;
  display: flex; /* or inline-flex */
  align-items: center;
  justify-content: center;
  color: white;
}
.h {
  height: 25px;
  width: 25px;
  background-color: #558B6E;
  border-radius: 50%;
  display: flex; /* or inline-flex */
  align-items: center;
  justify-content: center;
  color: white;
}

.p {
  height: 25px;
  width: 25px;
  background-color: #D4358D;
  border-radius: 50%;
  display: flex; /* or inline-flex */
  align-items: center;
  justify-content: center;
  color: white;
}
.neg {
  height: 25px;
  width: 25px;
  background-color: #A10702;
  border-radius: 50%;
  display: flex; /* or inline-flex */
  align-items: center;
  justify-content: center;
  color: white;
}
.pos {
  height: 25px;
  width: 25px;
  background-color: #3626A7;
  border-radius: 50%;
  display: flex; /* or inline-flex */
  align-items: center;
  justify-content: center;
  color: white;
}
