.title {
  color: #E36397;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
}

#npm {
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 5px;
  background-color: #D8829D;
  border: none;
}

.btn-primary {
  text-decoration: none;
  color: #e9ecef;
  background-color: #8CB2E3;
  border: none;

}

.main {
  padding: 200px 100px 200px 100px;
}

.banner{
  text-align: center;
}
