
<div class="container-xl">
  <div class="sidenav">
    <a (click)="scroll(installation)"><h5><b>Installation</b></h5></a>
    <a (click)="scroll(input)"><h6>Input</h6></a>
    <a (click)="scroll(events)"><h6>Events</h6></a>
  </div>


    <div class="row">
      <div class="col">

      <h2 class="txt">Documentation</h2>
        <p>ProSeqViewer is a TypeScript library implemented to be compatible with modern applications (both Angular and pure JavaScript supported). It is lightweight, fast, interactive, dynamic, responsive and it adapts to any screen size. It generates pure HTML which is compatible with any browser and operating system. The source code is available on <a href="https://github.com/BioComputingUP/ProSeqViewer">Github</a>.</p>


        <div class="snippet-card" #installation>

        </div>
    </div>

    <div class="row">
      <div class="col">
        <div>
          <h6 class="snippet-title" id="javascript">JavaScript installation</h6>

          <p>
            Import the JavaScript bundle and CSS from local files
          </p>

          <pre><code [highlight]="code0" [languages]="['typescript']"></code></pre>

          <p>
            Alternatively, import from GitHub
          </p>
          <pre><code [highlight]="code1" [languages]="['typescript']"></code></pre>

          <p>
            Add component
          </p>
          <pre><code [highlight]="code2" [languages]="['typescript']"></code></pre>

          <p>
            Create an instance
          </p>
          <pre><code [highlight]="code3" [languages]="['typescript']"></code></pre>


          <h6 class="snippet-title">Angular installation</h6>

          <p>
            Install ProSeqViewer from NPM
          </p>
          <pre><code [highlight]="code4" [languages]="['typescript']"></code></pre>

          <p>Add ProSeqViewer CSS to your angular.json file</p>
          <pre><code [highlight]="code5" [languages]="['typescript']"></code></pre>

          <p>Import in your component</p>
          <pre><code [highlight]="code6" [languages]="['typescript']"></code></pre>

          <p>Add component to your page</p>
          <pre><code [highlight]="code7" [languages]="['typescript']"></code></pre>


          <p>Create an instance in your component</p>
          <pre><code [highlight]="code8" [languages]="['typescript']"></code></pre>


          <h6 class="snippet-title" #input>Input fields</h6>
          <p>ProSeqViewer provides a method <i><b>draw</b></i> that takes a JSON object with five keys</p>

            <ul>
                <li><span>sequences: Array&lt;Sequences&gt;,</span></li>
                <li><span>regions?: Array&lt;Regions&gt;,</span></li>
                <li><span>patterns?: Array&lt;Patterns&gt;,</span></li>
                <li><span>options?: Options</span></li>
            </ul>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Field</th>
              <th scope="col">Field</th>
              <th scope="col">Type</th>
              <th scope="col">Example</th>
              <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th rowspan="5" scope="row">sequences</th>
              <td>sequence</td>
              <td>string</td>
              <td>LYRLELERECAMT</td>
              <td>Sequence of characters</td>
            </tr>

            <tr>
              <td>id</td>
              <td>integer</td>
              <td>1</td>
              <td> Identifier of the sequence</td>
            </tr>
            <tr>
              <td>label</td>
              <td>string</td>
              <td>1xvz_1_30.pdb</td>
              <td>Lateral label</td>
            </tr>
            <tr>
              <td>labelTooltip</td>
              <td>string</td>
              <td>
                <pre>
                  <code [highlight]="code9">

                  </code>

                </pre>
              </td>
              <td>Stylable tooltip</td>
            </tr>
            <tr>
              <td>startIndex</td>
              <td>integer</td>
              <td>30</td>
              <td>Start index of the input sequence</td>
            </tr>

            </tbody>

          </table>



            <div class="container">
                <div class="row first">
              <div class="col-sm">Field 0</div>
              <div class="col-sm">Field 1</div>
              <div class="col-sm">Type</div>
              <div class="col-sm">Example</div>
              <div class="col-sm">Description</div>
            </div>
                <div class="row field0">
              <div class="col-sm">sequences</div>
              <div class="col-sm"></div>
              <div class="col-sm"></div>
              <div class="col-sm"></div>
              <div class="col-sm"></div>
            </div>
                <div class="row field1">
            <div class="col-sm"></div>
             <div class="col-sm">sequence</div>
             <div class="col-sm">string</div>
             <div class="col-sm">LYRLELERECAMT</div>
             <div class="col-sm">Sequence of characters</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">id</div>
             <div class="col-sm">integer</div>
             <div class="col-sm">1</div>
             <div class="col-sm">Identifier of the sequence</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">label</div>
             <div class="col-sm">string</div>
             <div class="col-sm">1xvz_1_30.pdb</div>
             <div class="col-sm">Lateral label</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">labelTooltip</div>
             <div class="col-sm">string</div>
             <div class="col-sm">&lt;span class="tooltipText" style="background-color: blue;"&gt;Tooltip text&lt;/span&gt;</div>
             <div class="col-sm">Stylable tooltip</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">startIndex</div>
             <div class="col-sm">integer</div>
             <div class="col-sm">30</div>
             <div class="col-sm">Start index of the input sequence.</div>
           </div>
                <div class="row field0">
              <div class="col-sm">regions</div>
              <div class="col-sm"></div>
              <div class="col-sm"></div>
              <div class="col-sm"></div>
              <div class="col-sm"></div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">sequenceId</div>
             <div class="col-sm">integer</div>
             <div class="col-sm">1</div>
             <div class="col-sm">Identifier of the sequence.</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">start</div>
             <div class="col-sm">integer</div>
             <div class="col-sm">10</div>
             <div class="col-sm">Start position of the region to color.</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">end</div>
             <div class="col-sm">integer</div>
             <div class="col-sm">20</div>
             <div class="col-sm">End position of the region to color.</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">backgroundColor</div>
             <div class="col-sm">string</div>
             <div class="col-sm">hex, rgb</div>
             <div class="col-sm">Color the character background.</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">color</div>
             <div class="col-sm">string</div>
             <div class="col-sm">hex</div>
             <div class="col-sm">Color the character. All options available: 'hex' or 'rgb'.</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">backgroundImage</div>
             <div class="col-sm">integer</div>
             <div class="col-sm">linear-gradient(red, yellow)</div>
             <div class="col-sm">Color the character background with a two color gradient.</div>
           </div>
                <div class="row field0">
              <div class="col-sm">patterns</div>
              <div class="col-sm"></div>
              <div class="col-sm"></div>
              <div class="col-sm"></div>
              <div class="col-sm"></div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">sequenceId</div>
             <div class="col-sm">integer</div>
             <div class="col-sm">1</div>
             <div class="col-sm">Identifier of the sequence.</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">start</div>
             <div class="col-sm">integer</div>
             <div class="col-sm">10</div>
             <div class="col-sm">Start position of the region where to perform the regex.</div>
           </div>
                <div class="row field1">
                    <div class="col-sm"></div>
                    <div class="col-sm">pattern</div>
                    <div class="col-sm">string</div>
                    <div class="col-sm">AAA</div>
                    <div class="col-sm">Regex pattern to find in the sequence.</div>
                </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">end</div>
             <div class="col-sm">integer</div>
             <div class="col-sm">20</div>
             <div class="col-sm">End position of the region where to perform the regex.</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">backgroundColor</div>
             <div class="col-sm">string</div>
             <div class="col-sm">hex</div>
             <div class="col-sm">Color the regex match background. All options available: 'hex' or 'rgb'.</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">color</div>
             <div class="col-sm">string</div>
             <div class="col-sm">hex</div>
             <div class="col-sm">Color the regex match the character.  All options available: 'hex' or 'rgb'.</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">backgroundImage</div>
             <div class="col-sm">integer</div>
             <div class="col-sm">linear-gradient(red, yellow)</div>
             <div class="col-sm">Color the regex match character background with a two color gradient.</div>
           </div>
                <div class="row field0">
              <div class="col-sm">icons</div>
              <div class="col-sm"></div>
              <div class="col-sm"></div>
              <div class="col-sm"></div>
              <div class="col-sm"></div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">sequenceId</div>
             <div class="col-sm">integer</div>
             <div class="col-sm">1</div>
             <div class="col-sm">Identifier of the sequence.</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">start</div>
             <div class="col-sm">integer</div>
             <div class="col-sm">10</div>
             <div class="col-sm">Start position of the icon region.</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">end</div>
             <div class="col-sm">integer</div>
             <div class="col-sm">20</div>
             <div class="col-sm">End position of the icon region.</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">icon</div>
             <div class="col-sm">string</div>
             <div class="col-sm">helix</div>
             <div class="col-sm">Default svg image to apply on top of the indicated sequence. All options available: 'lollipop', 'helix', 'strand', 'strand-arrow-left', 'turn'.</div>
           </div>
                <div class="row field1">
                <div class="col-sm"></div>
                <div class="col-sm">icon</div>
                <div class="col-sm">string</div>
                <div class="col-sm">&lt;svg&gt;&lt;/svg&gt;</div>
                <div class="col-sm">Custom svg image to apply on top of the indicated sequence.</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">display</div>
             <div class="col-sm">string</div>
             <div class="col-sm">center</div>
             <div class="col-sm">Center the icon in the middle of the start-end region.</div>
           </div>
                <div class="row field0">
              <div class="col-sm">options</div>
              <div class="col-sm"></div>
              <div class="col-sm"></div>
              <div class="col-sm"></div>
              <div class="col-sm"></div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">fontSize</div>
             <div class="col-sm">string</div>
             <div class="col-sm">14px</div>
             <div class="col-sm">Font dimension.</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">chunkSize</div>
             <div class="col-sm">integer</div>
             <div class="col-sm">10</div>
             <div class="col-sm">Group the sequence into chunks of subsequential characters.</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">chunkSeparation</div>
             <div class="col-sm">integer</div>
             <div class="col-sm">2</div>
             <div class="col-sm">Space among chunks.</div>
           </div>
                <div class="row field1">
                    <div class="col-sm"></div>
                    <div class="col-sm">lineSeparation</div>
                    <div class="col-sm">integer</div>
                    <div class="col-sm">15</div>
                    <div class="col-sm">Space under the horizontal row of characters (px).</div>
                </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">indexesLocation</div>
             <div class="col-sm">string</div>
             <div class="col-sm">lateral</div>
             <div class="col-sm">Set an index on the left side of each sequence.</div>
           </div>
                <div class="row field1">
                    <div class="col-sm"></div>
                    <div class="col-sm"></div>
                    <div class="col-sm">string</div>
                    <div class="col-sm">top</div>
                    <div class="col-sm">Place an index on top of the end of each chunk (first row only).</div>
                </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">wrapLine</div>
             <div class="col-sm">boolean</div>
             <div class="col-sm">true</div>
             <div class="col-sm">Display the viewer with fixed width (not responsive) and scrollbar on the sequences.</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">viewerWidth</div>
             <div class="col-sm">integer</div>
             <div class="col-sm">2</div>
             <div class="col-sm">Width of ProSeqViewer - sidebar.</div>
           </div>
                <div class="row field1">
             <div class="col-sm"></div>
             <div class="col-sm">sequenceColor</div>
             <div class="col-sm">string</div>
             <div class="col-sm">clustal</div>
             <div class="col-sm">Colorscheme to apply to all sequences. Any Jalview colorscheme is available, see the complete list on Multiple sequence alignment (MSA) - Sequence color).</div>
           </div>
                <div class="row field1">
                    <div class="col-sm"></div>
                    <div class="col-sm"></div>
                    <div class="col-sm">obj</div>
                    <div class="col-sm">&#123; A: '#80a0f0', .. } </div>
                    <div class="col-sm">Custom colorscheme to apply to all sequences. Scheme: &#123; &lt;aminoacid&gt;:&lt;background_color&gt;, .. }</div>
            </div>
                <div class="row field1">
              <div class="col-sm"></div>
              <div class="col-sm">sequenceColorMatrix</div>
              <div class="col-sm">string</div>
              <div class="col-sm">blosum62</div>
              <div class="col-sm">Add blosum62 matrix colorscheme.</div>
            </div>
                <div class="row field1">
                    <div class="col-sm"></div>
                    <div class="col-sm"></div>
                    <div class="col-sm">obj</div>
                    <div class="col-sm"> &#123;KR: [ '#C0CFED', '#000000'], .. } </div>
                    <div class="col-sm">Add custom matrix colorscheme. Scheme: &#123;&lt;aminoacid_pair&gt;:[&lt;background_color&gt;,&lt;color&gt;], .. }</div>
                </div>
                <div class="row field1">
                    <div class="col-sm"></div>
                    <div class="col-sm">consensusDotThreshold</div>
                    <div class="col-sm">integer</div>
                    <div class="col-sm">90</div>
                    <div class="col-sm">Threeshold for consensus information.</div>
                </div>
                <div class="row field1">
                    <div class="col-sm"></div>
                    <div class="col-sm">consensusColorIdentity</div>
                    <div class="col-sm">string</div>
                    <div class="col-sm">identity</div>
                    <div class="col-sm">Add a line with consensus identity information.</div>
                </div>
                <div class="row field1">
                    <div class="col-sm"></div>
                    <div class="col-sm">consensusColorIdentity</div>
                    <div class="col-sm">obj</div>
                    <div class="col-sm">&#123;90: ['#0A0A0A', '#FFFFFF'], .. }</div>
                    <div class="col-sm">Add a line with custom consensus identity information. Scheme: &#123;&lt;level&gt;:[&lt;background_color&gt;,&lt;color&gt;], .. }</div>
                </div>
                <div class="row field1">
                    <div class="col-sm"></div>
                    <div class="col-sm">consensusColorMapping</div>
                    <div class="col-sm">string</div>
                    <div class="col-sm">physical</div>
                    <div class="col-sm">Add a line with consensus physical information.</div>
                </div>
                <div class="row field1">
                    <div class="col-sm"></div>
                    <div class="col-sm">consensusColorMapping</div>
                    <div class="col-sm">obj</div>
                    <div class="col-sm">&#123;A:['+', '#3626A7', '#FFFFFF'], .. }&#123;</div>
                    <div class="col-sm">Add a line with custom consensus physical information. Scheme: &#123;&lt;aminoacid&gt;:[&lt;symbol&gt;,&lt;background_color&gt;,&lt;color&gt;], .. }</div>
                </div>
        </div>
      </div>
      </div>
    </div>




    <!-------------------------------------  EVENTS  EXAMPLE ---------------------------------------->
    <h6 #events class="snippet-title">Events<a><svg class="bi section-link" fill="currentColor" height="1em" width="1em"></svg></a></h6>
    <p>Two different types of events are available: area selection (active after the user's Ctrl+C action) and the double click event (active after user's double click). The events are available integrating the eventListeners and will be fired on ctrl+C and double click user action, respectively.</p>

    <p><b>Area selection</b></p>
    <p>Click and drag the mouse to select an area of text (amino acids), the region will be highlighted in yellow. Use the
        shortcut Ctrl+C to copy and Ctrl+V to paste. The selected region will disappear after clicking on another area.</p>


    <pre class="prettyprint prettyprinted"><code>
    <span> window.<span class="hljs-js">addEventListener</span>('onHighlightSelection', (e) =>   &#123;
             console.<span class="hljs-js">log</span>('event type', e['detail'].eventType);
             console.<span class="hljs-js">log</span>('text area', e['detail'].text);
           });
    </span>
  </code></pre>


    <p><b>Double click</b></p>
    <p>The double click event will return information about the clicked character, like the x, y positions and the character itself.</p>
    <pre class="prettyprint prettyprinted"><code>
    <span> window.<span class="hljs-js">addEventListener</span>('onRegionSelected', (e) =>   &#123;
             console.<span class="hljs-js">log</span>('character selected', e['detail'].char);
             console.<span class="hljs-js">log</span>('position x', e['detail'].x);
             console.<span class="hljs-js">log</span>('position y', e['detail'].y);
           });
    </span>
  </code></pre>

    <p><b>Try it out!</b></p>
    <div class="sqvDemo">
        <div class="row">
            <div id="sqv9"></div>
        </div>
    </div>


    <div class="box">
        <form>
            <div class="row">
                <div class="col-25">
                    <label for="subject">Paste area selection</label>
                </div>
                <div class="col-75">
                    <textarea id="subject" name="subject" placeholder="Drag the mouse on the sequences and press CTRL+C to copy selection. Click in this box and press CTRL + V to paste selection." style="height:200px"></textarea>
                </div>
            </div>

        </form>
    </div>

    <div class="box">
        <form>
            <div class="row">
                <div class="col-25">
                    <label for="subject">See double click event</label>
                </div>
                <div class="col-75">
                    <div>Selected char: {{selectedChar}}</div>
                    <div>Position X: {{positionX}}</div>
                    <div>Position Y: {{positionY}}</div>
                </div>
            </div>

        </form>
    </div>


    <h6 id="loading" class="snippet-title">Loading<a><svg class="bi section-link" fill="currentColor" height="1em" width="1em"></svg></a></h6>
    <p>Loading time is due to DOM rendering reasons and with long sequences (>10.000-15.000 chars), it can take a few seconds to load.
        You can however place a loading icon meanwhile, and remove it after the tool is loaded. How to know when the rendering ends?
        You can check the Proseqviewer html element with the javascript function document.getElementById(proseqviewer_id), the element is empty in the beginning, full when fully loaded.
    </p>


</div>
</div>
