
<div class="container-xl">
  <div class="sidenav">
    <a (click)="scroll(installation)"><h5><b>Installation</b></h5></a>
    <a (click)="scroll(input)"><h6>Input</h6></a>
    <a (click)="scroll(events)"><h6>Events</h6></a>
  </div>


    <div class="row">
      <div class="col">

      <h1 class="txt">Documentation</h1>
        <p>
          ProSeqViewer is a TypeScript library implemented to be compatible with modern applications
          (both Angular and pure JavaScript supported). It is lightweight, fast, interactive, dynamic,
          responsive and it adapts to any screen size. It generates pure HTML which is compatible with
          any browser and operating system.

          The source code is available on <a href="https://github.com/BioComputingUP/ProSeqViewer">Github</a>

        </p>
        <p>
          <b>Note:</b> Loading of long sequences (>10.000 amino acids) takes a few seconds. The ProSeqViewer is ready
          when the DOM element becomes not empty. In Angular you can check a DOM with document.getElementById(proseqviewer_dom_id)
        </p>

        <div class="snippet-card" #installation>

        </div>
    </div>

    <div class="row">
      <div class="col">
        <div>
          <h6 class="snippet-title" id="javascript">JavaScript installation</h6>

          <p>
            Import the JavaScript bundle and CSS from local files
          </p>

          <pre><code [highlight]="code0" [languages]="['xml']"></code></pre>

          <p>
            Alternatively, import from GitHub
          </p>
          <pre><code [highlight]="code1" [languages]="['xml']"></code></pre>

          <p>
            Add component
          </p>
          <pre><code [highlight]="code2" [languages]="['xml']"></code></pre>

          <p>
            Create an instance
          </p>
          <pre><code [highlight]="code3" [languages]="['xml']"></code></pre>


          <h6 class="snippet-title">Angular installation</h6>

          <p>
            Install ProSeqViewer from NPM
          </p>
          <pre><code [highlight]="code4" [languages]="['typescript']"></code></pre>

          <p>Add ProSeqViewer CSS to your angular.json file</p>
          <pre><code [highlight]="code5" [languages]="['json']"></code></pre>

          <p>Import in your component</p>
          <pre><code [highlight]="code6" [languages]="['typescript']"></code></pre>

          <p>Add component to your page</p>
          <pre><code [highlight]="code7" [languages]="['xml']"></code></pre>


          <p>Create an instance in your component</p>
          <pre><code [highlight]="code8" [languages]="['typescript']"></code></pre>


          <h6 class="snippet-title" #input>Input fields</h6>
          <p>ProSeqViewer provides a method <i><b>draw</b></i> that takes a JSON object with five keys</p>

            <ul>
                <li><span>sequences: Array&lt;Sequences&gt;,</span></li>
                <li><span>regions?: Array&lt;Regions&gt;,</span></li>
                <li><span>patterns?: Array&lt;Patterns&gt;,</span></li>
                <li><span>options?: Options</span></li>
            </ul>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Field</th>
                <th scope="col">Field</th>
                <th scope="col">Type</th>
                <th scope="col">Example</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody>

              <!-- block -->
              <tr>
                <th rowspan="5" scope="row">sequences</th>
                <td>sequence</td>
                <td>string</td>
                <td>LYRLELERECAMT</td>
                <td>Sequence of characters</td>
              </tr>

              <tr>
                <td>id</td>
                <td>integer</td>
                <td>1</td>
                <td> Identifier of the sequence</td>
              </tr>
              <tr>
                <td>label</td>
                <td>string</td>
                <td>1xvz_1_30.pdb</td>
                <td>Lateral label</td>
              </tr>
              <tr>
                <td>labelTooltip</td>
                <td>string</td>
                <td>
                  &#x3C;span class="tooltipText" style="background-color: blue;"&#x3E;Tooltip text&#x3C;/span&#x3E;

                </td>
                <td>Stylable tooltip</td>
              </tr>
              <tr>
                <td>startIndex</td>
                <td>integer</td>
                <td>30</td>
                <td>Start index of the input sequence</td>
              </tr>

              <!-- block -->
              <tr>
                <th rowspan="6" scope="row">regions</th>
                <td>sequenceId</td>
                <td>integer</td>
                <td>1</td>
                <td>Identifier of the sequence</td>
              </tr>

              <tr>
                <td>start</td>
                <td>integer</td>
                <td>10</td>
                <td>Start position of the region to color</td>
              </tr>
              <tr>
                <td>end</td>
                <td>integer</td>
                <td>20</td>
                <td>End position of the region to color</td>
              </tr>
              <tr>
                <td>backgroundColor</td>
                <td>string</td>
                <td>hex, rgb</td>
                <td>Color the character background</td>
              </tr>
              <tr>
                <td>color</td>
                <td>string</td>
                <td>hex</td>
                <td>Color the character. Available options: 'hex', 'rgb'</td>
              </tr>
              <tr>
                <td>backgroundImage</td>
                <td>integer</td>
                <td>linear-gradient(red, yellow)</td>
                <td>Color the character background with a two color gradient</td>
              </tr>

              <!-- block -->
              <tr>
                <th rowspan="7" scope="row">patterns</th>
                <td>sequenceId</td>
                <td>integer</td>
                <td>1</td>
                <td>Identifier of the sequence</td>
              </tr>

              <tr>
                <td>start</td>
                <td>integer</td>
                <td>10</td>
                <td>Start position of the region where to perform the regex</td>
              </tr>
              <tr>
                <td>pattern</td>
                <td>string</td>
                <td>AAA</td>
                <td>Regex pattern to find in the sequence</td>
              </tr>
              <tr>
                <td>end</td>
                <td>integer</td>
                <td>20</td>
                <td>End position of the region where to perform the regex</td>

              </tr>
              <tr>
                <td>backgroundColor</td>
                <td>string</td>
                <td>hex</td>
                <td>Color the regex match background. Available options: 'hex', 'rgb'</td>
              </tr>
              <tr>
                <td>color</td>
                <td>string</td>
                <td>hex</td>
                <td>Color the regex match background. Available options: 'hex', 'rgb'</td>
              </tr>
              <tr>
                <td>backgroundImage</td>
                <td>integer</td>
                <td>linear-gradient(red, yellow)</td>
                <td>Color the regex match character background with a two color gradient</td>
              </tr>

              <!-- block -->
              <tr>
                <th rowspan="6" scope="row">icons</th>
                <td>sequenceId</td>
                <td>integer</td>
                <td>1</td>
                <td>Identifier of the sequence</td>
              </tr>

              <tr>
                <td>start</td>
                <td>integer</td>
                <td>10</td>
                <td>Start position of the icon region</td>
              </tr>
              <tr>
                <td>end</td>
                <td>integer</td>
                <td>20</td>
                <td>End position of the icon region</td>
              </tr>
              <tr>
                <td>icon</td>
                <td>string</td>
                <td>helix</td>
                <td>Predefined icons: 'lollipop', 'helix', 'strand', 'strand-arrow-left', 'turn'</td>
              </tr>
              <tr>
                <td>icon</td>
                <td>string</td>
                <td>&#x3C;svg&#x3E; ... &#x3C;/svg&#x3E;</td>
                <td>Custom svg image to apply on top of the indicated sequence</td>
              </tr>
              <tr>
                <td>display</td>
                <td>string</td>
                <td>center</td>
                <td>Center the icon in the middle of the region</td>
              </tr>

              <!-- block -->
              <tr>
                <th rowspan="17" scope="row">options</th>
                <td>fontSize</td>
                <td>string</td>
                <td>14px</td>
                <td>Font dimension</td>
              </tr>

              <tr>
                <td>chunkSize</td>
                <td>integer</td>
                <td>10</td>
                <td>Size of sequence chunks (px)</td>
              </tr>
              <tr>
                <td>chunkSeparation</td>
                <td>integer</td>
                <td>2</td>
                <td>Space among chunks (px)</td>
              </tr>
              <tr>
                <td>lineSeparation</td>
                <td>integer</td>
                <td>15</td>
                <td>Space below a row of characters (px)</td>
              </tr>
              <tr>
                <td>indexesLocation</td>
                <td>string</td>
                <td>lateral</td>
                <td>Set an index on the left side of each sequence</td>
              </tr>
              <tr>
                <td>indexesLocation</td>
                <td>string</td>
                <td>top</td>
                <td>Place an index on top of the end of each chunk (first row only)</td>
              </tr>
              <tr>
                <td>wrapLine</td>
                <td>boolean</td>
                <td>true</td>
                <td>Display the viewer with fixed width (not responsive) and scrollbar on the sequences</td>
              </tr>
              <tr>
                <td>viewerWidth</td>
                <td>integer</td>
                <td>2</td>
                <td>Width of the left sidebar</td>
              </tr>
              <tr>
                <td>sequenceColor</td>
                <td>string</td>
                <td>clustal</td>
                <td>Amino acid coloring. All Jalview colorscheme are available</td>
              </tr>
              <tr>
                <td>sequenceColor</td>
                <td>obj</td>
                <td>{{"{ A: '#80a0f0', .. }"}}</td>
                <td>Custom colorscheme to apply to all sequences. Scheme:
                  &#123;&#x3C;amino_acid&#x3E;:&#x3C;background_color&#x3E;, ... &#125;</td>
              </tr>
              <tr>
                <td>sequenceColorMatrix</td>
                <td>string</td>
                <td>blosum62</td>
                <td>Add color gradient based on BLOSUM62 positive values</td>
              </tr>
              <tr>
                <td>sequenceColorMatrix</td>
                <td>obj</td>
                <td>{{"{KR: [ '#C0CFED', '#000000'], .. }"}}</td>
                <td>Add custom matrix colorscheme. Scheme:
                  &#123;&#x3C;amino_acid_pair&#x3E;:[&#x3C;background_color&#x3E;, &#x3C;color&#x3E;], ... &#125;</td>
              </tr>
              <tr>
                <td>consensusDotThreshold</td>
                <td>integer</td>
                <td>90</td>
                <td>Below the threshold the consensus displays a dot symbol (.)</td>
              </tr>
              <tr>
                <td>consensusColorIdentity</td>
                <td>string</td>
                <td>identity</td>
                <td>Add the consensus line on the top</td>
              </tr>
              <tr>
                <td>consensusColorIdentity</td>
                <td>obj</td>
                <td>{{"{90: ['#0A0A0A', '#FFFFFF'], ... }"}}</td>
                <td>Add a line with custom consensus identity information. Scheme:
                  &#123;&#x3C;level&#x3E;:[&#x3C;background_color&#x3E;, &#x3C;color&#x3E;], ... &#125;</td>
              </tr>
              <tr>
                <td>consensusColorMapping</td>
                <td>string</td>
                <td>physical</td>
                <td>Add a line with consensus physical information</td>
              </tr>
              <tr>
                <td>consensusColorMapping</td>
                <td>obj</td>
                <td>{{"{A: ['+', '#3626A7', '#FFFFFF'], ... }"}}</td>
                <td>Add a line with custom consensus physical information. Scheme:
                  &#123;&#x3C;amino_acid&#x3E;:[&#x3C;symbol&#x3E;, &#x3C;background_color&#x3E;, &#x3C;color&#x3E;], ... &#125;}</td>
              </tr>


            </tbody>

          </table>

        </div>
      </div>
      </div>





    <!-------------------------------------  EVENTS  EXAMPLE ---------------------------------------->
    <h6 #events class="snippet-title">Events</h6>
    <p>
      ProSeqViewer provides two different types of events, <b>area selection</b> and <b>double click</b>, which capture
      user interactions with the viewer
    </p>

    <p><b>Area selection</b></p>
    <p>
      Left click and drag the mouse to select an area of text (amino acids). The region get highlighted in yellow. Use the
      shortcut <kbd>Ctrl+C</kbd> to copy and <kbd>Ctrl+V</kbd> to paste.
      The highlight disappear after clicking outside the selected area
    </p>
      <pre><code [highlight]="code10" [languages]="['typescript']"></code></pre>


    <p><b>Double click</b></p>
    <p>
      Double click returns information about the clicked character: x, y positions and the character itself
    </p>
    <pre><code [highlight]="code11" [languages]="['typescript']"></code></pre>


      <h6 #events class="snippet-title">Events test</h6>

      <div id="sqv9" class="sqvDemo"></div>

      <div class="row">
        <div class="col-9">
          <div class="box">
            <form>
              <label for="subject">
                Drag the mouse over the viewer above and try to <kbd>Ctrl+C</kbd> and <kbd>Ctrl+V</kbd> in the box below
              </label>
              <button class="btn btn-outline-secondary" type="reset">Reset</button>
              <textarea id="subject" name="subject" placeholder="Drag the mouse over the viewer above and try to Ctrl+C and Ctrl+V here" style="height:200px"></textarea>

            </form>
          </div>
        </div>

        <div class="col-3">
          <div class="box">
            <form>

                <label for="subject">See double click event</label>

                <div>Selected char: {{selectedChar}}</div>
                <div>Position X: {{positionX}}</div>
                <div>Position Y: {{positionY}}</div>

            </form>
          </div>
        </div>
      </div>





</div>
</div>
